[2016-07-22 13:19] thatguy73 opened #1 "Comments, Questions, open forum"
Hello,

I have a large amount of these bulbs and would like to be able to use them again.  Thanks so much for the work you are doing on this.   How can I execute these files and run them?  I tried something called XAMPP without much luck.

TIA

[2016-07-22 17:02] bren1818 commented on #1
No problem, I am happy my work is being used! I use XAMPP at home, so hopefully we can get it working for you too.  The first question is though, do you have the TCP bridge or just the remotes? I have the bridge and originally used the app to configure and add my lights into appliances and "rooms".

Assuming you have the bridge, the next step is easy, make sure it is plugged in, and determine it's

[2016-07-22 21:50] thatguy73 commented on #1
I have the bridge and I think I can get it's ip just fine.  I am on a mac and can't seem to get XAMPP to open your index file.

[2016-07-22 21:58] bren1818 commented on #1
I'll go out on a limb and assume that my project is the only files in your ht docs directory? If you go to 127.0.0.1 in a browser what do you see? I run this on Windows and have set it up on a virtual house,  but that shouldn't matter.  I'll try this on a mac this evening and try it out.  Is xampp running?  You may need to make sure it is running on port 80,  if it is running on a different port y

[2016-07-22 22:42] thatguy73 commented on #1
I got the XAMPP working and set my getaway ip up in the include.php file.  My IP is 10.0.1.4 and I now get this:

Parse error: syntax error, unexpected '.0' (T_DNUMBER) in /Applications/XAMPP/xamppfiles/htdocs/include.php on line 8

This is what I have on line 8 of include.php:

define("LIGTHING_URL", “10.0.1.4”); //IP address of gateway

[2016-07-22 22:48] thatguy73 commented on #1
wanted to add that I did a port scan of the gateway ip and 443 is the only one open

[2016-07-22 23:01] bren1818 commented on #1
Ok so I set this up on my Mac (I typically dont use it) so, the first time I run the script, without the sync button I see this:

![screen shot 2016-07-22 at 6 49 00 pm](https://cloud.githubusercontent.com/assets/2146847/17073270/38951462-503d-11e6-8bd9-4c9294a5e8af.png)

when I press the sync button and refresh, I see this:

![screen shot 2016-07-22 at 6 51 32 pm](https://cloud.githubusercontent.

[2016-07-22 23:06] thatguy73 commented on #1
IP is correct all Apple network hardware.  The 10.0 is an "apple thing"  quotes were the problem.  working on token now

[2016-07-22 23:12] thatguy73 commented on #1
Thanks so much.  It's working.

If it is acceptable, I will happily donate some cash as soon this gets the ability to do timers.  I have about $250 worth of bulbs that now do nothing on all the timers they used to be on.

Already bought a phillips hue and 13 replacement bulbs, but I would love to use my old TCP's

[2016-07-22 23:40] bren1818 commented on #1
That's fantastic! I'm glad to hear it is working :) I'm not looking for any cash, this is just a little pet project and I was actually going to look into programming some timers. My end goal is to run this on a Raspberry Pi and have a sensor trigger the lights.

Re: timers, there are a few ways to do this, I could setup a database, and then you'd have to setup a cron job on your computer to check

[2016-07-25 07:27] ahhdem commented on #1
Well, I can't say I'm stoked to see it in PHP but I also have about $250 in TCP doorstops and would be rad to see them functioning again.

I'd be happy to contribute code, I'd love to see these working via smartthings again!

gonna setup php and give this a shot.. thanks!

[2016-07-25 11:48] bren1818 commented on #1
@ahhdem Fantastic, yes, please try it out. I am going to implement some scheduling code so people can setup schedules for the lights. Afterwards I will also working on reverse engineering some off the classes within the android app. (Easier to decompile an apk vs iPa) if you pm me, that will probably be the more difficult and time consuming part.

[2016-07-30 00:38] Telekinetic commented on #1
Is this something that could be adapted into one of the hue bridge emulator projects such as https://github.com/bwssytems/ha-bridge  to piggyback on all of the Hue integration all over the place?  I was going to start from stockmopar's protocol teardown but this looks like it is much farther along.

[2016-07-30 00:50] ahhdem commented on #1
I believe this builds on StockMopars work, so should be farther along, yes.  As far as the Hue integration, it would be totally possible to make a single project that handles both, but in my guess not likely to share much code (outside of UI etc).

@bren1818 sorry I haven't had any time to contribute this week, my hub WAS in a state of never-updated for over a year but the dd-wrt access restrictio

[2016-07-30 01:27] bren1818 commented on #1
@Telekinetic  as @ahhdem  indicated it likely could be integrated (I haven't looked at that particular project) however the code base for the TCP stuff is specific to TCP. All of the calls to the TCP bridge are prefaced with GWR (Green Wave Reality) and im pretty positive the way hue communicates with its bulbs is a different protocol than how TCP does. That said, in the future, I'll look into Hue

[2016-07-30 05:45] Telekinetic commented on #1
@bren1818 the Hue bridge emulator is a particularly good fit for development integration because there are so many things that work with it.   It isn't meant to actually bride to Hue bulbs,  but to let things that have easy built-in ways to control Hue bulbs (like Amazon Echo and Wink and Smartthings etc  etc do)  think they are talking to Hue bulbs through a Hue bridge,  when they are really talk

[2016-07-30 11:34] bren1818 commented on #1
@Telekinetic - I see what you're saying, but what I was trying to get at is
that the protocol used to communicate with the tcp bulbs is different than
the hue bulbs. The tcp bulbs (and hub) do not support IFTTT (if this then
that) that's why the commands to the tcp bulbs need to be custom and is why
you don't see much integration.

I presume that the Web interface which GreenWave used to have - be

[2016-08-04 03:46] bren1818 commented on #1
@thatguy73 - I have implemented a scheduler feature - very very new (not vigorously tested). It can be run two ways, leaving the browser open after clicking poll continuously, or, after saving your schedule, setting up a system event to execute the runSchedule.php file. Give it a go - not 100% sure if this is what you meant by timers, but hopefully you like it and some of the other updates. You wi

[2016-08-08 11:51] hypergolic commented on #1
Awesome project Bren, I was the one who posted the instructions on how to downgrade the firmware on the hub so it was usable again on that blog.

I uploaded the files to a repo in the event you or anyone else needs them and clarified a few things in the instructions, and included the extracted root fs. sadly, haven't had the time to do much else than write a bash script to control my lights from s

[2016-08-09 00:05] bren1818 commented on #1
@hypergolic Fantastic! Thanks for uploading/sharing those files. Fortunately, I am/was still able to control my lights using the APP and via the project here. I'm still dredging through their app code, but havent made much progress. I feel I should at the very least figure out light detection etc. This right now is kind of a home automation project for me. Again much appreciated!

[2016-08-09 02:01] ahhdem commented on #1
thanks @hypergolic!  I was about to buy a hub and light set for $20 bux online due to greenwave bricking my hub, but this should probably get me back up and running again! w00t

[2016-08-09 06:21] ahhdem commented on #1
awwwyiss.  was able to get my hub back online.. lights are working again! sweet sweet dimability!

I set a static dhcp record for the tcp hub, manually wrote some iptables rules to restrict it by MAC to talking to -just- my remote server, and used dnsmasq running on my gateway (which is my dhcp set dns server) to override *.greenwavereality.com/eu (it also talks regularly to tcp.greenwavereality.c

[2016-08-09 07:59] ahhdem commented on #1
sent a pull request to @bren1818 that makes his code work on @hypergolic's posted firmware.  I am back in action. Hoping to get some of the details from dev_sec on this thread: https://community.smartthings.com/t/any-interest-in-tcp-connected-hub-local-integration/51926

regarding his local device handler -- since I have no need to proxy ssl with the old firmware, a seamless integration -should- b

[2016-08-11 04:30] hypergolic commented on #1
Glad you got it working :).

FYI, I believe they use this library: http://www.nxp.com/products/interface-and-connectivity/wireless-connectivity/2.4-ghz-wireless-solutions/jennet-ip:JENNET-IP
The SDK is downloadable on their website. I had the toolchain and buildroot + sdk at one point and I cant find it now...

I pulled some interesting stuff off of it via the "holger" binary on it.
https://gist.g

[2016-08-15 23:03] bren1818 commented on #1
@thatguy73 @ahhdem @hypergolic I've been trying to get some info from support at TCP, although they don't say much. One thing they did note was, this is the "replacement" for TCP: http://consumer.nimbus9.co/ but it looks like all it offers is what my project is attempting to emulate.

I'm still working on reverse engineering the code but not having much luck. I'm trying to work without downgrading

[2016-08-17 03:34] hypergolic commented on #1
The modified firmware I posted uses a bit newer rootfs I believe, but with ssh enabled, so it may be useful to you in that fact. The original unmodified firmware is the version with SSH enabled from the factory that has the local http webserver instead of the https only webserver.

[2016-08-25 05:24] hax0rmort commented on #1
i love this work, i had no idea you guys were keeping it going.   I checked out that "Unifi Passport" they want for $150 for whomever bought out TCP Connected rights I'm assuming.

If anyone has a home automation system, z-wave/zigbee/btle/wifi/insteon,etc  check out Vera Plus, the new (April '16) home automation hub, it does all that but the magic is the apps from MiOS store,  which, just so happ

[2016-08-25 18:19] bren1818 commented on #1
@hax0rmort, Glad you like it and thank you for the links. I actually just pushed an update to add some functionality. Wish I had more time to work on this, but it is a fun hobby.

[2016-08-28 19:35] StuartRothrock commented on #1
I am glad to see the efforts a few of you are giving here. I was about to pitch my hub and lights in the donation box. I tried the web interface and can't seem to get a token. I also have a serial connection to the hub but can't get anything other than garbage. It is a 3.3v FTDI serial. I am thinking about downgrading the firmware. Any suggestions for my first fix? TIA
EDIT:
I got brave and downlo

[2016-08-28 22:33] bren1818 commented on #1
Hmm,  what do you mean you have a serial connection to the hub? Why not use
standard network connection?

Otherwise just make sure you have the right ip address in the include file
of your bridge. I did just add a change to store the token to a file, and
made the default. Perhaps try disabling that option. Depending on webserver
it may not be writing the file.

Also make sure you hit the sync butt

[2016-09-14 06:00] ryanhindinger commented on #1
It's 1:58am and I've been banging my headed against the proverbial wall for hours trying to find a way to make all of these TCP lamps I own less than worthless again.  This project is like finding a life preserver in shark-infested waters--there's hope at least.  I know next to nothing about php or anything beyond your basic networking really, but I'm going to try to learn so I can get these light

[2016-09-15 16:14] StuartRothrock commented on #1
@bren1818  asks about the serial connection - I attached a 3.3v serial cable to the 3 connections with the legs I soldered to the hub. That gives access to the boot prompt that can be interrupted. It has U-Boot as the bootloader. You can google that to learn more.

![20160915_120712](https://cloud.githubusercontent.com/assets/4085935/18557679/df2a6a18-7b3d-11e6-9a86-0a2ead7dab18.jpg)

[2016-09-30 16:13] richardhughes260 opened #3 "Can't get code to work :("
It may be me, not you.

Is the only thing I need to get started is the following in the include.php:

IP of controller
token captured by some external method
ip of the host of this code

I get the message that I do not have the token filled in, it is, on line 29.

[2016-09-30 16:38] bren1818 commented on #3
You need to set the ip to the ip of the tcp bridge, then push the sync on
the bridge and go to where you run the app. It should give you a token,
which you copy and then paste into the include file.

I'll have a look tonight and push an update if need be.

Good luck!

On Sep 30, 2016 12:13 PM, "Richard Hughes" notifications@github.com wrote:

[2016-09-30 17:26] richardhughes260 commented on #3
I loaded fresh code, added the ip of the lighting controller in include.php & rand index.php after pushing the sync button. I got the same message, that It did not get a token.

Is there other code that needs to be run to get the token?

[2016-09-30 18:42] bren1818 commented on #3
Hmm I'll have to look into it tonight,  default settings should work after
those edits.  Could be firewall issue.  What OS are you using?

Thanks

On Sep 30, 2016 1:26 PM, "Richard Hughes" notifications@github.com wrote:

[2016-09-30 18:43] richardhughes260 commented on #3
I am running it on a Orange Pi PC, let me check permissions...

[2016-09-30 18:48] richardhughes260 commented on #3
I did a chmod 777 \* in the dir where in the index.php is. Still no success. This is all on the LAN, so no FW issues, if it is not phoning home.

[2016-09-30 19:12] bren1818 commented on #3
Hmm I'll have a look tonight when I'm home. Could you try setting line 17
in includes to 0,  so 'use token file' is false?

Many thanks

On Sep 30, 2016 2:48 PM, "Richard Hughes" notifications@github.com wrote:

[2016-10-01 00:35] bren1818 commented on #3
Iam unable to replicate the issue you;re encountering, however try the following:
in the includes.php file
set:
line 8: LIGHTING_URL to the address of the bridge
line 11: LOCAL_URL to: "127.0.0.1" (try this, localhost should work too, depends on how Orange Pi runs the webserver)
Line 17: USE_TOKEN_FILE to 0

then run it, you should see:

![image](https://cloud.githubusercontent.com/assets/2146847/

[2016-10-01 00:56] richardhughes260 commented on #3
Hi Bren, changing Line 17: USE_TOKEN_FILE to 0 made the token warning go away. Nothing else made any changes.

It may be the OS. I'll have to deploy it on a mac, pc or linux distro.

I was able to get a token using a python app. I tried pasting it in & no better results.

[2016-10-08 09:00] sdhip commented on #3
Hi Bren

Great work -- well done (and to all those whose work you built on).

I tried with the wireless tcp bridge and had the errors that others mention above, i.e. no token returned, but then switched to a wired one I had spare from buying some bulbs on eBay and it all worked just fine.

Maybe the problems folk are reporting are down to wireless tcp bridges?

All the best
Steve

[2016-10-08 13:50] bren1818 commented on #3
Very interesting hypothesis, that may be the issue as I  could not
replicate it. I was unaware there even was a wireless version of the hub.
Perhaps if  I pick one up, I'll be able to find a work around. Thank you
for posting that info.

Cheers, Bren

On Saturday, 8 October 2016, sdhip notifications@github.com wrote:

[2016-10-08 15:37] bren1818 commented on #3
For those of you using Windows 10, something I thought of (as I had issues connecting wireless to my Raspberry Pi - and this may be completely unrelated) is the following:

Click on your wireless network

![image](https://cloud.githubusercontent.com/assets/2146847/19214180/3c49f992-8d4b-11e6-9afa-03fd39a5f42f.png)

Once connected click properties

![image](https://cloud.githubusercontent.com/asset

[2016-10-09 12:43] sdhip commented on #3
Hi Bren

Wireless gateway is in the bulb packs with a white iPhone on the front:
![s-l1600](https://cloud.githubusercontent.com/assets/22703825/19220470/7b60b4d8-8e25-11e6-8ed2-9b1c1b1b2920.jpg)

Let me have your address Bren if you'd like me to send you one!

I'm running your code on a Mac (with standard Apache & PHP setup -- see e.g. https://coolestguidesontheplanet.com/get-apache-mysql-php-and-

[2016-10-09 13:29] bren1818 commented on #3
@sdhip Steve, that's very generous of you and would be awesome. I have not seen one of those packs before.  Perhaps that version was not available in Canada or atleast in the Home Depots.  I'm going to assume if the code did work with the wired version but not the wireless bridge perhaps it is either communicating on a different port or there is a issue in between. Out of curiosity is your Mac con

[2016-10-13 21:44] bren1818 commented on #3
@sdhip, @richardhughes260 - I was able to replicate the issue using the "official" android app on a wired bridge. (I think) - At my home I have my primary wireless network, and I have a wireless Bridg/Repeater Network too. My TCP bridge is connected to my primary network. When I tried to connect to my Bridged network, the application would not ever find the lights, it would fail, however, when I c

[2016-10-14 02:18] bren1818 commented on #3
@sdhip - shoot me an email @ bren1818@gmail.com, apparently there is no way to PM you.

Thanks!

[2016-10-19 15:18] richardhughes260 commented on #3
Hi Bren, I was traveling on business & could not do further testing until now. I have a Bitnami LAMP VM & pulled down the code & it works fine! Thanks for being so responsive! I GREATLY appreciate the project!

[2016-10-19 15:18] #3 closed

[2016-10-24 11:13] SteelBattalion commented on #1
First off. Thank you so much for making this happen. I've got mine working with the HA-Bridge project from BWSSystems. I set up your project on a virtual linux server and used the generated url requests from the button presses to give basic on off functionality and dim functionality. I can now use these with Alexa similar to the hue bulbs I purchased. To create a proper dim setting I took the URL

[2016-10-26 00:06] bren1818 commented on #1
@SteelBattalion glad to hear it helped. I actually just added some new functionality to create, edit and delete virtual devices. I didn't add these to the api, not sure if I will since it is kind of standalone functionality, but thought I'd let you know.

Cheers :)

[2016-10-31 21:37] ozthegreat opened #4 "Single room issue"
Hey,

In index.php and include.php the `$DATA = $array["gwrcmd"]["gdata"]["gip"]["room"];` variable is expecting an array of arrays, however if you only have one room setup you simply get a single array containing the values. This is easily fixed with something like:

`if ( isset( $DATA["rid"] ) )
		$DATA = array( $DATA );`

Thanks

[2016-10-31 22:32] bren1818 commented on #4
Thanks Edward, I'll look into addressing that issue.

I actually recently wiped my hub, so I think I noticed that but haven't
pushed the fix yet.

Cheers and happy Halloween 😄

On Monday, 31 October 2016, Edward D notifications@github.com wrote:

[2016-11-13 00:00] merrickw commented on #1
Hi Brendon - thanks for writing this app,
I'd like to start using it but I have a couple of questions;
First of all, I didn't even realize TCP stopped supporting these bulbs; My scheduled events which I set years ago work perfectly everyday and haven't stopped.  And I never cared about remote internet access, as long as the android app worked.  But now the android app doesn't find the hub.  I'm af

[2016-11-13 15:44] bren1818 commented on #1
@merrickw - Hey Merrick, thanks for reaching out, hopefully this project works well for you.

Yep, TCP killed this project I think in May/June of 2016 - I only found out because I had signed up for Wink Notifications... Great customer service TCP provided. Like you I hadn't really used the web interface side of things (built into the bridge) but I did use their web interface to connect from say wo

[2016-11-13 16:46] merrickw commented on #1
Hi Bren,

Thanks for the response.  Yes, when I press sync the lights spin and come back to normal.  My WAN light is red and my LAN light is amber.

I got concerned because I wasn't getting the TCP app to connect.  But after I rebooted the gateway, and pressed sync, the app started in 'search' mode and found my gateway, and the app shows all my lights/rooms/events.  For a while I thought the app w

[2016-11-13 17:11] bren1818 commented on #1
Hey there, not at home at the moment, but that error leads me to think you
do not have curl enabled in your php.ini it isn't always enabled by
default.

Try xampp, I believe the defaults with it should be A-OK,  or Google how to
enable curl.

Cheers

Bren

On Nov 13, 2016 11:46 AM, "merrickw" notifications@github.com wrote:

Hi Bren,

Thanks for the response. Yes, when I press sync the lights spin

[2016-11-13 18:25] merrickw commented on #1
Hi Bren,

That did it.  Installed XAMPP and your app works like a charm.  Nice work!  One thing I needed to do was move the /images folder up a level for the references to work, not sure if that is my own configuration issue.  But the token set itself up perfectly, as you stated, the app walks you through the setup.

So my next question is, and I don't know anything about SmartThings, but I do kno

[2016-11-13 20:51] bren1818 commented on #1
Hi @merrickw, I wrote this so there is an underlying api which the various views call, which is translated to the TCP API. I don't know really anything about smart things, but in theory, extending a "Smart Things" view to translate "Smart Things" calls to either my API or directly to the TCP API shouldnt be out of the question. I'll do some reading on Smart things and see what I find. I don't have

[2016-11-13 23:16] merrickw commented on #1
Bren - I'm glad your looking at this!

By the way, I picked up a Google Home last week, and liked it so much I bought a second for another room.  The speaker sounds great and it plays tons of music from Google Play at no charge.  Plus since I uploaded gigs of my music to it years ago, and then  forget about it, now I can actually make use of it. And it's very conversational and pretty cool to use.

[2016-11-14 14:33] bren1818 commented on #1
@merrickw  I'll have to look into the Google Home when they make it to Canada, looks like they'll be coming here in 2017. Sounds pretty slick, I use the 'ok Google' often enough, so perhaps I'll treat myself. Can it detect smb shares or iTunes Playlists?

So I actually went as far as reaching out to SmartThings support to ask them specifically if you can program http requests with the Smar things

[2016-11-19 07:27] sktaylortrash commented on #1
First off thanks for this.

I am having an issue getting it going. If I don't push the sync button I get the page telling me to so that a token can be created. If I do pushing the button the page never loads just eventually times out saying too many redirect attempts.

Any ideas?

Thanks

[2016-11-19 15:31] bren1818 commented on #1
Hi @sktaylortrash  - Im AFK for the next few days so I'll try to answer you now. That seems odd to me. Have you tried changing the LIGHTING_PORT on line 9? If you're on the old firmware you may need to set this to port 80, or if on the newer firmware 443. So Long has you have the LIGTHING_URL set to your bridge IP, it should be a go.

If this is not the root of the problem, in the index.php file t

[2016-11-19 22:15] sktaylortrash commented on #1
Okay I got it sorted.  I had to manually create the tcp.token file and make it globally writeable. Once done the key generated properly.

The webserver I am using is an instance of the bitnami virtual appliance. it was setup fresh just for this application

[2016-11-19 22:16] hax0rmort commented on #1
im about to get my hands dirty tonight with 17 tcp lamps.  assorted
daylight a19, softwhite a19 and br30s, using vera plus plugin

On Sat, Nov 19, 2016 at 5:15 PM, sktaylortrash notifications@github.com
wrote:

##

-Sent from NSA_VAN6

[2016-11-23 19:20] bren1818 opened #5 "Bricked Bridge? What to do"
See my other repo here:  https://github.com/bren1818/TCPFirmwareRestore - this is based off of Hypergolic's repo, but will have the original firmware files and instructions for non-techies.

Hypergolic's repo here: https://github.com/hypergolic/greeenwave_firmware

[2016-11-23 19:21] #4 closed

[2016-11-27 01:14] Jofrah commented on #1
Hi all,
Firstly, a BIG THANK-YOU to Bren for this code! I've been looking for a way to get my TCP lights "smartened-up" again and this works fine. Installed XAMPP and got it all running, even tho I'm a newbie.
I have a slight problem with the scheduler actually, and I think it's related to my bridge not having the proper time. When i check the Test section, the time that comes up is 6 hours and 21

[2016-11-27 02:39] bren1818 commented on #1
Hey @Jofrah I'm glad you find this useful! I'm working on re-writing some of this stuff and going to try to make it somewhat plugin friendly. Just so I'm understanding, you're using the scheduler I built for this app? If you're using the one in this app, the bridge's clock shouldn't matter since it's just this app sending commands based on when they're fired. The UI I built just allows you to stor

[2016-11-27 05:26] hax0rmort commented on #1
I'll be breaking this out here real soon guys

On Sat, Nov 26, 2016 at 21:39 Bren <notifications@github.com> wrote:

--
-Sent from Gmail Mobile on iPhone

[2016-11-27 05:31] hax0rmort commented on #1
Oh, Happy Thanksgiving if it applied. I have been reading this chain all
month and have been jealous I've been preoccupied with my OSRAM bulbs, got
some new Lightify fixtures for the kitchen and living Room, beautiful
things! Tunable white also! But here comes the TCPs I stocked up on from
eBay and My local big box store clearance all year! Thanks Bren, I'm not
sure if you handle the Vera MiCasaVe

[2016-11-27 15:49] bren1818 commented on #1
@hax0rmort Happy Thanksgiving to you too. I'm Canadian, but I have no problem celebrating twice, and of course taking part in the Black Friday specials 👍  I cant say I have anything to do with the MiCasa Verde, but I am (behind the scenes) re-writing some of the components for this app to make the code nicer... I am also hoping to make this a bit more extendable so it can be used as a plugin or wi

[2016-11-27 22:41] Jofrah commented on #1
Hmmm, you're right @bren1818, The Bridge clock has nothing to do with your app. I guess I got my clocks mixed-up!
I was trying to use your scheduler because the one from TCP stopped working last summer (when they disconnected everything) , and TCP support told me that their App could only be used to turn the lights on and off--manually, from then on. The feature I used most with the TCP app Smart

[2016-11-27 22:44] Jofrah commented on #1
BTW, Canadian Tire was clearing out the TCP LEDs (2x) with a remote for 20$ last week.

[2016-11-27 22:44] hax0rmort commented on #1
nice!

On Sun, Nov 27, 2016 at 17:44 Jofrah <notifications@github.com> wrote:

--
-Sent from Gmail Mobile on iPhone

[2016-11-28 01:19] bren1818 commented on #1
@Jofrah  - hmm what you have done should work.  Can you double check on file for me..
in runschedule.php line 94, ensure it is:

$req = LOCAL_URL."/api.php?fx=".$fx."&type=device&uid=".$ID."&val=".$val;

I noticed I had a missing / after the LOCAL_URL on my copy, but my copy is a bit out of sync. If yours is correct than we can triage a bit.

Check these items for me in include.php
line 33:  SAVE_

[2016-11-28 04:46] AinV07 commented on #1
I'm trying to follow along with the latest tweaks, and am running into a problem that is either due to PHP version, or a rookie/noob mistake on my part.

the runSchedule.php executes OK in a browser, but when I try it from either the batch file or a privileged command prompt, PHP returns an error:

[code]

I'm thinking it is because when PHP is called from a command line, there technically is no r

[2016-11-28 10:47] anick08 commented on #1
Im having troubles getting this to work. I got my token, and I'm running off of WAMP.
This is what I have in my include file, and I have tried several combinations of actions after pressing the sync button.
![screen shot 2016-11-28 at 4 41 31 am](https://cloud.githubusercontent.com/assets/23584333/20665618/f278962c-b525-11e6-8cb2-c27deb3de810.png)

/*
 *
 * PHP includes
 *
 */

define("LIGTHING_UR

[2016-11-28 16:49] bren1818 commented on #1
@anick08  - can you verify in the root directory if you have the tcp.token file (it's just a flat text file and should just contain your token). You so not need to define your token since you have USE_TOKEN_FILE set to true (1) - you could set this to 0 and try again. Also to verify your ip for your bridge is write, in a browser go to https://192.168.1.160 and see if it allows you to connect it ma

[2016-11-28 16:53] bren1818 commented on #1
Hmm do you have the latest copy?  Line 36 is just checking if you're
posting back, so the error isn't really an error. At the top of
runSchedule.php add the following code after the <?php

error_reporting(0); //this will turn off errors

Let me know if that helps. I may need to re-visit the scheduler code...
I'll have to look at the copy on my home computer

On Sun, Nov 27, 2016 at 11:46 PM, AinV0

[2016-11-28 17:00] anick08 commented on #1
I think that was the issue, I didn’t know to change the use token file to 0

I will try that when I get home, *crosses fingers*

From: Bren [mailto:notifications@github.com]
Sent: Monday, November 28, 2016 10:49 AM
To: bren1818/TCPLightingWebInterface
Cc: anick08; Mention
Subject: Re: [bren1818/TCPLightingWebInterface] Comments, Questions, open forum (#1)

@anick08 <https://github.com/anick08>  -

[2016-11-28 18:00] bren1818 commented on #1
No problem. It may not be the issue, technically the "use token file" is
optional, you can hard code it or have the app write it to a file. The fact
that you got a token file is a good sign, so lets start with setting it not
to use the token file and go from there.

I'm working on re-writing some aspects of this app to make it more
streamlined. Maybe by Christmas :)

On Mon, Nov 28, 2016 at 12:00

[2016-11-29 01:05] anick08 commented on #1
Well, good news and bad news.
Changing the 1 to 0 definitely did something, but now I get this. *Note: I JUST grabbed that token moments before, and updated the include file. I also restarted all 3 functions of WAMP after modifying the include file.

![capture](https://cloud.githubusercontent.com/assets/23584333/20692416/58388496-b59d-11e6-8f8d-f54ae9960caf.PNG)

[2016-11-29 01:15] bren1818 commented on #1
Can I get you to try two things? Pull the latest build, I pushed an update
when I got home to help with Tokens and being a bit more clear, also try
putting the files in the root htdocs folder vs a sub folder. It should work
in a sub folder though...

Thanks!

[2016-11-29 01:36] anick08 commented on #1
Well, slightly different looking screen, but same message. even with a brand spanking new token.
![capture](https://cloud.githubusercontent.com/assets/23584333/20693130/ee88724a-b5a1-11e6-9705-0130e98e847f.PNG)

[2016-11-29 01:42] bren1818 commented on #1
Hmm that is the new build... You're certain the new token generated? Can
you email me your include.php  it's very odd. (bren1818@gmail.com)

Did you set LOCAL_URL to http://localhost/TCPLightingWebInterface-master2/

I'm kind of stumped as to why you'd be getting this.

On Mon, Nov 28, 2016 at 8:36 PM, anick08 <notifications@github.com> wrote:

[2016-11-29 01:53] Jofrah commented on #1
Dunno if this can help, but i was getting that screen yesterday when my network stopped working.

[2016-11-29 02:01] Jofrah commented on #1
@bren1818 there was that / missing from line 94. The other lines (33, 34 & 44) all are ok. The scheduled.sched is ok, but the *.actioned isn't there. Had to leave home for now. Will continue with ur suggested tests later this week.

[2016-11-29 02:06] bren1818 commented on #1
Sounds good, I uploaded a sample scheduled task in the newest build you can
try too.

On Mon, Nov 28, 2016 at 9:01 PM, Jofrah <notifications@github.com> wrote:

[2016-11-29 02:47] anick08 commented on #1
Bren is an absolute genius!

Has anyone been able to link up the program to Smart Things?
Or Bren, do you know how, since it seems like this was the entire point of writing this code?

[2016-11-29 06:40] AinV07 commented on #1
bren1818, I've been using HiddenStart (www.ntwind.com/software/hstart.html) in the task to launch the runSchedule.bat in the background, thus avoiding the command prompt window appearing every minute while I'm using the PC. Seems to be working well.

[2016-11-29 12:32] bren1818 commented on #1
Haven't heard of it but thanks for suggestion. In the task scheduler you
can make it so the cmd prompt doesn't pop up. See:

http://www.howtogeek.com/tips/how-to-run-a-scheduled-task-without-a-command-window-appearing/

Cheers,  Bren

On Nov 29, 2016 1:40 AM, "AinV07" <notifications@github.com> wrote:

[2016-11-30 01:23] Jofrah commented on #1
@bren1818 I loaded your newest build and still cannot get the scheduler to work. Following your list of suggestions, everything up to and including the scheduled.sched is OK, the scheduled.actioned is missing.
The F12 gives this:
![image](https://cloud.githubusercontent.com/assets/24196487/20735884/0d220b1a-b671-11e6-8ecf-8789af61098d.png)
I'm obviously doing something wrong...sorry for the troubl

[2016-11-30 02:38] bren1818 commented on #1
@Jofrah hmm your error is a 404 (File not found)... are you running on a Mac or linux machine by chance? Only thing I can think of is runSchedule.php has either been moved, or renamed (perhaps the S in Schedule isn't uppercased? Can you post a screen shot of your project directory?

[2016-11-30 11:34] Jofrah commented on #1
Nope. PC with Windows 7 (although I do want to port this to a R-Pi eventually :-) .Here is the screen shot:
![image](https://cloud.githubusercontent.com/assets/24196487/20750869/f99afe52-b6c6-11e6-8b3e-156a4efe1515.png)

[2016-11-30 15:23] bren1818 commented on #1
Ok so the lighting app isn't in your root folder. That's ok.  Do you have a
virtual host set up? I think what's happening is you do not have a virtual
host setup, as the runSchedule.php must be being looked for in /htdocs vs
/htdocs/TCPLightingWebInterface-master/ as the file is there for sure.

Let me know if you have a virtual host or need help setting one up.

Cheers,

Bren

On Nov 30, 2016 6:3

[2016-11-30 16:46] Jofrah commented on #1
Could I just move everything over directly into the /htdocs root?

Thanks!

John

*From:* Bren [mailto:notifications@github.com]
*Sent:* November-30-16 10:23
*To:* bren1818/TCPLightingWebInterface <
TCPLightingWebInterface@noreply.github.com>
*Cc:* Jofrah <ja@comlab.com>; Mention <mention@noreply.github.com>
*Subject:* Re: [bren1818/TCPLightingWebInterface] Comments, Questions, open
forum (#1)

Ok

[2016-11-30 17:03] bren1818 commented on #1
Yes you can.  Virtual host is just another option if you want sub
directories in your htdocs

On Nov 30, 2016 11:46 AM, "Jofrah" <notifications@github.com> wrote:

[2016-11-30 18:54] Jofrah commented on #1
OK then. I’ll give it a try tonight.

Thanks!

*From:* Bren [mailto:notifications@github.com]
*Sent:* November-30-16 12:03
*To:* bren1818/TCPLightingWebInterface <
TCPLightingWebInterface@noreply.github.com>
*Cc:* Jofrah <ja@comlab.com>; Mention <mention@noreply.github.com>
*Subject:* Re: [bren1818/TCPLightingWebInterface] Comments, Questions, open
forum (#1)

Yes you can. Virtual host is just ano

[2016-11-30 22:58] Jofrah commented on #1
@bren1818 after moving everything to the htdocs/ root directory the scheduler now works!! Thanks for your help.
Next step is to port this to a machine I have running Linux Mint and LAMP. After that it will be the R-Pi!

Just out of curiosity, since it doesn't affect the operation of your scheduler, but do you have an idea of how the Bridge gets its clock and time-zone settings? It must get them fr

[2016-12-01 01:07] bren1818 commented on #1
@Jofrah - Glad that worked. I haven't yet tested the app on a Raspberry Pi, but in theory it should work without issue. I would assume the bridge gets it's time information from a time server, that being said, when rooting around in some of their source code, I did find a set time methods, which included setting the datetime, timezone name, and by long/lat so its possible you could set it using on

[2016-12-02 17:54] merrickw commented on #1
Hi Bren - just wondering, is it possible to integrate your app with IFTTT?
I was seeing nicely IFTTT integrates with Google Home and was thinking of next steps...

[2016-12-03 01:20] Jofrah commented on #1
@bren1818 I've started testing on Linux Mint with LAMP installed. I can get as far as the "You haven't generated your token" message, but can't get it to catch the token. I can ping the bridge and have even used the manual commands to generate the token, then paste it into the *.php where you indicate to do so, but no joy. I think it has to do with the write permissions in the var/www/html directo

[2016-12-03 01:31] sktaylortrash commented on #1
I just created the file manually and temporarily chmoded it 777 until the key generation was complete

Paul

On Dec 2, 2016, at 7:20 PM, Jofrah <notifications@github.com<mailto:notifications@github.com>> wrote:

@bren1818<https://github.com/bren1818> I've started testing on Linux Mint with LAMP installed. I can get as far as the "You haven't generated your token" message, but can't get it to catch

[2016-12-03 01:34] bren1818 commented on #1
@merrickw  - I haven't worked with IFTTT but I just applied to 'make applets' on their site. I'm assuming it's  likely that my stuff could be integrated with IFTTT. I am re-writing some of the files to make it more extensible. I also want to add Hue Support, which I think works with IFTTT so we'll see if I can get something at somepoint.

@Jofrah try setting permissions on the html directory to 77

[2016-12-03 02:03] merrickw commented on #1
Bren - I'm glad you're looking at it ... it might be cool if an applet could call a specific lighting scene ... ultimately I would say to Google Home "Hey Google, Lighting scene 5" and through your IFTTT applet scene 5 would be invoked on the TCP bulbs ....

[2016-12-03 02:31] Jofrah commented on #1
OK, so I chmoded html to 777, and created the file, but nothing got written into it when I pressed the sync button..
Then tried pasting the token in manually, and now the "If you are seeing this.." no longer appears, but nothing else happen either. I also tried pasting the token into the Include file and also changed the USE_TOKEN to 0, same result, blank screen. There is an effect in both cases b

[2016-12-04 18:57] bren1818 commented on #1
@Jofrah Please doublecheck that you have the correct bridge IP. If you haven't setup mac reservations on your router, it's very likely your bridge IP changed on you. Let me know

[2016-12-05 02:58] anick08 commented on #1
2859 would be super awesome if you were able to have this as an IFTT applet!! That would be awesome.

I know you posted several things in the Smart things forums, I'm wondering if anything has ever.come  into fruition on getting the app to work with that yet.

[2016-12-05 13:57] Jofrah commented on #1
@bren1818, I checked and the bridge is still on 192.168.2.15. Could it be a port issue with the Apache2 server? Also, it still works with your code on my Win 7 machine. Which just made me think of another question: can more than one App access the bridge during the "same" time period?
Some more useful info maybe-- I am able to access the Bridge manually from the Linux Mint machine using Firefox an

[2016-12-05 15:12] bren1818 commented on #1
@Jofrah Yes more than one App can access the bridge at the same - so long as the app has its own token. In my build (not ready for prime time) I have my app accessing two bridges simultaneously (at least to get the environment) but shouldnt be a problem. Perhaps there is a firewall issue? To issue commands, this app uses CURL to post commands to the bridge. You could double check curl is enabled a

[2016-12-05 17:24] merrickw commented on #1
Hi Bren - just curious about the scheduler;  My events that I setup years ago are still in the gateway, show up in the tcp app/your app, and still fire;  How are your scheduled events different and why wouldn't someone just use the events in the app?

[2016-12-05 17:57] bren1818 commented on #1
In absolute honesty @merrickw realistically if the app works for someone to schedule the events, they should absolutely use it over mine. That being said, the app scheduler doesn't seem to work for everyone, so I whipped up the one in my UI  so somone could have a web interface to access. Mine doesn't store the schedule on the bridge (at-least yet).

That all being said, I plan to add other device

[2016-12-05 17:58] bren1818 opened #6 "Comments, Questions, open forum (2)"
Closed the last topic as it had gotten really lengthy. Opening this one for more questions

[2016-12-05 18:00] bren1818 commented on #1
@everyone I'm closing this topic and have opened a new one here: https://github.com/bren1818/TCPLightingWebInterface/issues/6 as this one has gotten very long. Very happy about all the interest, keep the questions coming!

[2016-12-05 18:00] #1 closed

[2016-12-05 18:04] bren1818 commented on #1
@anick08 sorry I Missed your post. I did look into Smart Things, but only a little. I dont have a smart things hub, and you can't create an account with them unless you have one. Maybe one day :+1:

[2016-12-06 23:28] merrickw commented on #6
Thanks Bren for your previous responses;  looking forward to any IFTTT or SmartThings development to keep these bulbs alive into the future ...

[2017-01-13 17:36] merrickw commented on #6
Hi Bren,

Happy New Year!

Just curious if you have any thing in the works for IFTTT or SmartThings? Ultimately I'd love to get Google Home to control these bulbs.

Regards,
Merrick

[2017-01-14 23:09] bren1818 commented on #6
Hey @merrickw  - nothing yet. Smart things requires me to have the Samsung Bridge which I dont have. I did look into the IFTTT. They have an applet for 'Connect Greenwave Systems' which of course doesnt work since it's tied to the Greenwave servers they took down... So I have 'applied' to be a maker:
![image](https://cloud.githubusercontent.com/assets/2146847/21958797/513b8d76-da84-11e6-82f1-d416d

[2017-01-16 03:35] merrickw commented on #6
Thanks for the update.  The IFTTT sounds the most interesting, but I guess it can only work if you have your local web server running... which makes sense, you wouldn't want the cloud turning off your lights, with all the hacking going on ....  I haven't bought any Hue lights yet ... my TCP's got me covered ...

[2017-01-28 05:33] k8gg commented on #6
Now that the Greenwave link got sacked, the clock resides in my TCP gateway is drifting away every single day. So over last 6 months or so, mine is now like 20-30 minutes ahead. Sunrise/sunset schedule would be way off also.

So, quick questions: Is there a way to correct the clock in gateway via some UI on local web server? Or better yet, get the clock to sync with local web server automatically/

[2017-01-28 18:04] bren1818 commented on #6
@k8gg  Hey there - I'm guessing you're looking at the regular branch versus dev? I'll look into time setting. I'm fairly certain it will be possible. Stay tuned...

[2017-01-28 18:23] k8gg commented on #6
Yes, branch.
Great work you've got so far! Also the IFTTT idea sounds awesome. :)

[2017-01-28 19:02] bren1818 commented on #6
@k8gg - Done - pull master, should have 3 updates, index.php, setDateTime.php and a JS file. I have made the new screen to set date and time. I kinda whipped it together... so hope it works.  Pretty simple. There appears to be functions to set time zone too, but this should do the trick... I don't use the built in Bridge functions so please let me know. Thanks!

![image](https://cloud.githubuserco

[2017-01-31 00:31] sktaylortrash commented on #6
This date tweak worked awesome for me thanks so much

[2017-01-31 00:34] bren1818 commented on #6
@sktaylortrash - Awesome glad to hear it. I just need to find some time to finish the build I have in progress in Dev which has Hue integration and hooks for multiple bridges. Not enough hours in a day :)

[2017-01-31 17:17] k8gg commented on #6
Yup. The date/time update interface worked. Thanks a lot @bren1818 !

[2017-02-01 01:21] sktaylortrash commented on #6
@bren1818 forgive my asking but what would the use case for multiple bridges be?

[2017-02-01 02:05] k8gg commented on #6
My guess: to have one single web UI that would control not only TCP bulbs
but also Hue or wemo or even zwave bulbs... Yes?

On Jan 31, 2017 8:21 PM, "sktaylortrash" <notifications@github.com> wrote:

[2017-02-01 02:06] sktaylortrash commented on #6
Oh I get multiple brands I meant multiple TCP bridges

[2017-02-01 02:58] bren1818 commented on #6
@sktaylortrash - reason for multiple TCP bridges is two fold. I bought up some of the bridge packs when they were clearing them out. At one point I accidentally messed up my bridge, which required me to re-flash it and downgrade the firmware. Before I got it to work again, I got kind of frustrated and started setting up a second bridge so I could continue development on this project and so I could

[2017-02-01 03:00] sktaylortrash commented on #6
@bren1818  so I totally should have thought of the remote thing. I have 3 in a drawer I'll never use for that reason. May need to pickup another bridge or two. It's not like I now have 24 bulbs running or anything :)

[2017-02-01 03:23] merrickw commented on #6
Another way to use 2 remotes and have 8 zones is to keep 4 bulbs off the gateway, and connect to a remote directly.  I did this so one remote controls 4 bulbs in my upstairs bedroom, off the gateway.  The main floor is on the gateway.  This works perfectly since I don't need scheduling or remote access for my bedroom lights, just the handy remote.  The support guys at TCP walked me through how to

[2017-02-01 03:24] bren1818 commented on #6
@sktaylortrash haha, I can't say I have that many either... but in the bedroom, we have two lamps on either side of the bed and 3 bulbs acting as one appliance in the ceiling fan, so it's nice to have the remote to turn on/off and dim the lights that way. I stuck some Velcro on the back of the remotes (I have 5 of them) and stuck them to the wall to use as a switch too. They're handy but at the sa

[2017-03-15 18:29] vijimaini commented on #6
Hi Bren,
  I read about this project and am excited that I can possibly now remotely connect to my bulbs from outside the house. I have setup IIS on windows machine with web application addons for php. My problem is I cannot get token from tcp box. I press the Sync button on the TCP box with green leds blinking around and then on the windows machine browser I type **http://localhost/index.php.** T

[2017-03-15 18:47] bren1818 commented on #6
Hi @vijimaini - shouldn't be an issue, I'm pretty sure my bridges have the latest firmware. The more likely issue is you're using IIS. - I cant say I have tested with IIS.

In your IIS folder, could you create a simple php file like: `<?php echo "Hello World"; ?>` and see if you can load that? It could also be that with IIS you do not have the curl library being loaded.

I recommend you download X

[2017-03-15 19:40] vijimaini commented on #6
Bren, I installed XAMPP and it works perfectly.
Thanks for your help.

[2017-03-15 19:55] bren1818 commented on #6
@vijimaini Glad to hear that. When you use IIS, you'd likely have needed to enable some php extensions which come pre-enabled on xampp. Fortunately you can use Apache and  IIS simultaneously.

Cheers,

Bren

[2017-03-15 22:43] shrms commented on #6
Hi Bren,
I am newbie to development, could you please me setting this up. I am NAS storage.
Is there any documentation that can help me seeting up from scratch, as i ddon't have development background.
Regards

[2017-03-15 23:02] bren1818 commented on #6
@shrms - Sure, its pretty straightforward and you wont need any development experience.  You will however need to have a bit of knowledge about home networking.

So first things first, download yourself XAMPP:  https://www.apachefriends.org/index.html its free. I suggest getting the version with PHP 5.6.3
![image](https://cloud.githubusercontent.com/assets/2146847/23974225/8c9cca28-09b0-11e7-966a-

[2017-03-16 00:07] shrms commented on #6
Hi Bren,
Thanks for sending the instructions, i follwed the same and updated the IP address aswell.
I got below message

'If you are seeing this, you haven't generated your token yet.
Could not fetch token. Ensure you have the correct IP for your bridge and that you have hit the sync button before running this.
Since you ae not using the token file option, ensure you paste your token in the includ

[2017-03-16 00:55] bren1818 commented on #6
@shrms - are you sure you pressed the sync button and have the correct IP of your bridge? As for the token file, did a "tcp.token" file get generated in the htdocs folder?

If you have the right IP for you bridge, in theory you can navigate to: https://{BRIDGE-IP}/gwr/

If you get a "privacy error" (this is from the Bridge, not my code) just allow it and see if the page resolves. If the request ti

[2017-03-16 17:34] vijimaini commented on #6
Hi @bren1818 - is there a way to setup sunset and sunrise time. This feature using IOS app does not work. The tcp device must have been getting this information from the Gwr server, before it shutdown. The feature to adjust time is great. The time on my device was out by 35 minutes. Thanks

[2017-03-16 22:12] bren1818 commented on #6
@vijimaini I haven't developed code yet to work with the sunrise/sunset natively, but I did develop a scheduler which triggers the lights at programmed times using the underlying API for this app. I'll have a look to see if I can emulate or develop that function, but I never used it.

Cheers

[2017-03-16 22:43] vijimaini commented on #6
@bren1818 Ok, I was wondering if the sunset / sunrise values were stored on device that was updated daily from cloud.  The API test script shows value to be sunset, which means it may be stored somewhere on device. Thanks

[2017-03-16 23:12] bren1818 commented on #6
@vijimaini Im fairly certain the cloud stuff has been disabled altogether. The bridge used to have a nice web interface, but it was removed during one of the bridge updates. I have the older firmware files for the bridges, however the cloud update is still on, so even if you go through the tricky downgrade process, when the bridges phone home, they re-update unless you block the domain on your net

[2017-03-16 23:21] vijimaini commented on #6
This is where I saw sunset from get scene list
GWSceneGetList
Array
(
    [version] => 1
    [rc] => 200
    [enable] => 1
    [scene] => Array
        (
            [0] => Array
                (
                    [sid] => 1
                    [active] => 0
                    [name] => Home
                    [desc] => Home
                    [order] => 0
                    [type] => sched

[2017-03-16 23:42] shrms commented on #6
Hi Bren,

Yes, i pressed the sync button, but no file got generated in htdocs folder.

Yes, Ip is correct, even i tried with https://{BRIDGE-IP}/gwr/ but in am getting 403 forbidden.
I checked in both ports but no luck.

MSG that i am getting now is.:

GWR Command not returned, this likely indicates your token is expired, or invalid.

Remove token and try regenerating a new one.

If you are contin

[2017-03-17 00:02] bren1818 commented on #6
@shrms hmm that is odd. What operating system and web server are you using? On your router are your ips set as static or do they expire?

[2017-03-17 00:08] shrms commented on #6
Bren ..i am on windows 7 and i installed XAMPP.
On router its static ip on router.

Attached is picture of my tcp device
![20170316_233017_hdr](https://cloud.githubusercontent.com/assets/26446108/24023683/cec8a08e-0aa5-11e7-95ea-335bd86912e0.jpg)

[2017-03-22 02:53] bren1818 commented on #6
@shrms - Any luck getting it to work? If you are getting 403 forbidden, technically the bridge is communicating. I'm thinking either you do not have curl enabled (it should be by default with XAMPP so thats a head scratcher) or perhaps you have an over-active firewall. Did you allow XAMPP to communicate with local networks when you installed it?

You can also try the build in my DEV Branch if you

[2017-03-31 21:24] shrms commented on #6
Hi Bren,
I was travelling, today again i checked but its same message 'GWR Command not returned'

How can i try the build in your dev branch, you might need to guide me a bit there.

[2017-03-31 22:13] bren1818 commented on #6
@shrms hope the travelling was good, my thought is if you're getting the Command not returned, it means either CURL is not working (make sure it is enabled in PHP - it should be since you said you're using XAMPP and it is enabled by default) or you perhaps have a firewall rule which is blocking the traffic (most likely), OR you have the wrong IP of the bridge, which I'm pretty sure you dont.

Try

[2017-04-19 19:21] ghost commented on #6
Random question does anyone remember how to pair a remote to a bulb without a gateway. Was gonna give my parents some bulbs and a remote but can't remember how

[2017-04-19 19:28] merrickw commented on #6
I saved these instructions from TCP support:

II. No Gateway, remote only

3) Resetting the remote (remove from gateway and bulbs)

    (Remote Factory Reset):
If you are sure you want to reset the remote control, use the following steps:

1.     Remove the battery cover from the back of the remote control.
2.     Remove the batteries from the remote control.
3.     Press and hold the Program butt

[2017-04-19 19:46] sktaylortrash commented on #6
Oh that's good info to have.

[2017-05-05 15:36] merrickw commented on #6
Hi Bren,

Just checking if you have anything in works for IFTTT or Smarthings integration?  I'd love to figure out how to integrate this gateway/bulbs into home automation ... like Google Home ....

Thanks,
Merrick

[2017-05-09 17:00] bren1818 commented on #6
Hi Merrick, I haven't done any integration yet, that being said, I just
checked the IFTTT platform and looks like they're finally allowing
development integration.

https://platform.ifttt.com/docs/hello_world#give-ifttt-your-api-url

I'll have to read up on it because I could likely make an Applet, but you
would also need your own copy to point to your local network endpoint.

I've been pretty swa

[2017-05-19 02:41] inahas commented on #6
Hi Bren. I am too unable to get the token file generated either.

If you ssh into the hub there is a file under /media/config/tokens that appears to contain the tokens known to the hub. Maybe we can just copy one of these tokens (or create a random new one??) and use it instead?

[2017-05-19 02:47] bren1818 commented on #6
I've never tried that, it could work, but I'd doubt it.

You pressed the sync button and hit the index page? You have curl enabled?

On May 18, 2017 10:41 PM, "inahas" <notifications@github.com> wrote:

[2017-05-19 02:50] inahas commented on #6
Switching the LIGHTNING_PORT to 80 fixed it. It works now, but I still don't see a token file under htdocs!

[2017-05-19 02:54] inahas commented on #6
And yes I pressed the Sync page and kept refreshing the http://localhost page. I got the little graphic instructing me to get the token. How do I enable curl?

[2017-05-19 03:01] bren1818 commented on #6
I guess depending on how the bridge is running, you may have to set it to
:80.

Are you using Xampp? It gives people the least grief. If you're feeling
adventurous you can check out my Dev branch and try the new build. It isn't
perfect but has most of the function.

I'm afk currently but I'll check it after work tomorrow if you don't figure
it out by then :)

On May 18, 2017 10:50 PM, "inahas" <no

[2017-05-19 03:09] inahas commented on #6
Yes I followed the instructions above precisely. Maybe firmware 3.0.39 didn't use tokens? If I type this in the browser:
[code]

 I get the following response:

[code]

[2017-05-19 03:23] bren1818 commented on #6
Hmm, I just checked out the project. I have two bridges, one at 1.108, and one at 1.109, I've loaded my project on :86, so I modify the include.php accordingly.

![image](https://cloud.githubusercontent.com/assets/2146847/26231929/6f8e5e0e-3c20-11e7-93ab-4e4350c02280.png)

press the sync button and refresh the page...

![image](https://cloud.githubusercontent.com/assets/2146847/26231957/940103c2-3

[2017-05-20 01:19] bren1818 commented on #6
@inahas - Any luck with the code ? What happens if you try this:

`http://192.168.1.122/gwr/gop.php?cmd=GWRBatch&data=<gwrcmds><gwrcmd><gcmd>RoomGetCarousel</gcmd><gdata><gip><version>1</version><token>1234567890</token><fields>name,image,imageurl,control,power,product,class,realtype,status</fields></gip></gdata></gwrcmd></gwrcmds>&fmt=xml`

?

[2017-05-20 02:32] inahas commented on #6
It's working fine without the token at port 80. The above command returns a full dump of everything.

I'm not worried about making it work with the token, I figure it's before they enforced tokens in the code (although interestingly they do return a dummy toekn when requested).

What I'm thinking now is, since the REST API works fine with the latest build (with tokens), what is the benefit of down

[2017-05-20 03:00] bren1818 commented on #6
There isn't much reason to have the ssh enabled version in my opinion. It
has a web interface, however I found it to be flaky and continues to try to
update the bridge when you access it.

So if the command worked, then yep API works for you. It is funny about the
dummy code as you indicate.

We'll have fun with the code. My Dev branch is cleaned up but less
complete, but I did extend it to integr

[2017-11-28 00:10] bren1818 commented on #6
@merrickw  - Good News! Using IFTTT, webhooks, this project and say a Google Home - you can totally control your lights using voice commands. I'll be documenting the process in the next few days and hopefully making a Youtube video. The process is trivial really and just relies on issuing commands to the api.php file via the webhooks in IFTTT. It'll require you to have a static IP, or use a servic

[2017-11-28 00:21] merrickw commented on #6
That is awesome!  I look forward to trying this out. I do use a dyndns service, so that part is covered...

Thanks for working on this!

-------- Original message --------
From: Bren <notifications@github.com>
Date: 11/27/17 7:11 PM (GMT-05:00)
To: bren1818/TCPLightingWebInterface <TCPLightingWebInterface@noreply.github.com>
Cc: merrickw <merrickw@hotmail.com>, Mention <mention@noreply.github.com>

[2017-11-28 00:32] sktaylortrash commented on #6
This is great news because I had nothing but bad luck with the firmware downgrading to make the hub work with smartthings.  But with IFTTT I should be able to get it talking that way instead

[2017-11-28 01:09] merrickw commented on #6
I just gave it a quick test to turn one light off, and it worked like a charm.

I guess the next step would be to understand how to use the URL's to call scenes or multiple lights.

This is great!

[2017-11-28 01:21] bren1818 commented on #6
You're too quick! I'm writing up a doc on how to connect everything :) yes,
I'd say this gives me some more incentive to extend this project.

Gotta love black Friday Google home purchases :)

On Nov 27, 2017 8:09 PM, "merrickw" <notifications@github.com> wrote:

[2017-11-28 02:05] bren1818 commented on #6
@merrickw @sktaylortrash - I've written up some basic instructions on how to utilize IFTTT with the existing API in this project. I uploaded the docs into the DEV & Master branch. #
[Using this project with IFTTT.docx](https://github.com/bren1818/TCPLightingWebInterface/files/1508275/Using.this.project.with.IFTTT.docx)

I'll have to play some more with IFTTT and see what else I can work in with th

[2017-11-28 03:17] sktaylortrash commented on #6
@bren1818 that is super slick.  My Google home wont be here until Thursday but I tested with my phone and it worked perfect.   For the instructions you'll probably want to mention that a firewall hole needs to be made.  Also the port change can usually just be done there without modifying the apache config.  That's all I did anyways

[2017-11-28 13:20] merrickw commented on #6
Speaking of opening the firewall for http, port 80 ... I generally never leave that open for security.  If I do open it up, what precautions should I take?

After I tested yesterday I just stopped XAMPP for safety...

________________________________
From: sktaylortrash <notifications@github.com>
Sent: Monday, November 27, 2017 10:17 PM
To: bren1818/TCPLightingWebInterface
Cc: merrickw; Mention
Su

[2017-11-28 14:33] sktaylortrash commented on #6
So the security thing is the biggest issue with self running a service like this.

Hence why I was trying to get the [smartthings integration mentioned here:](https://community.smartthings.com/t/release-tcp-connected-bulbs-work-with-smartthings-again/78817) working.  But couldn't keep my bridge stable with the 3.0.39 firmware.

There's a couple options I would consider:
1. The basic is the securit

[2017-11-28 15:12] bren1818 commented on #6
@sktaylortrash Thanks for fielding that, spot on answer.

In a near future build I'll add a password option and a toggle to only process requests from an internal IP range and the IFTTT range.

The .htaccess method works well too, but not sure how comfortable people will be with configuring it. I should also add something about firewall rules. I was just eager to get it out there. Its nice to no l

[2017-11-28 15:25] sktaylortrash commented on #6
Sounds good.

In my testing last night the Say a phrase with a number option works pretty well to adjust brightness as long as you are willing to speak in percentages.

So say for my bedside lamp I create a phrase of **Bedroom Lamp #** and a web request of
**http://lighting.local/api.php?fx=dim&type=device&uid=216773570733536747&val={{NumberField}}**

Then I say Bedroom Lamp 50 and the light goes

[2017-11-28 16:57] bren1818 commented on #6
@sktaylortrash  I can definitely add a function for "dim-by". That shouldn't be too hard at all. I'll look into that tonight.  There isn't one currently.

I hear you re: not having to purchase other bulbs. I purchased a number of TCP bulbs because truly they were/are a pretty fantastic product, but I also have my foot in the Philips Hue World. In my DEV branch I have code which allows you to conne

[2017-11-29 03:19] bren1818 commented on #6
@sktaylortrash & @merrickw  I just pushed a few updates to the api.php and include.php files as well as some extra files like a .htaccess, and documentation. I added in the requested Dim By / Brighten By functions too for devices / rooms / home and beefed up the security.  I outlined the API calls in the 'API Notes.txt' I did some testing and it looks to work well. Let me know your thoughts :) Hop

[2017-11-29 05:01] sktaylortrash commented on #6
Sweet that was fast turnaround.  Everything looks good and seems to work with the security implemented. api Password and .htaccess file are behaving as I would expect. Between the two of them I think that's a solid as you're going to be able to make it without getting ridiculous

[2017-11-29 14:06] merrickw commented on #6
Bren - what's the best way to apply the changes without losing my configuration?

Also, will the existing URL's still work or is the added security required?

________________________________
From: Bren <notifications@github.com>
Sent: Tuesday, November 28, 2017 10:19 PM
To: bren1818/TCPLightingWebInterface
Cc: merrickw; Mention
Subject: Re: [bren1818/TCPLightingWebInterface] Comments, Questions,

[2017-11-29 14:13] sktaylortrash commented on #6
@merrickw

I just copied over the lighting_url, and user_email values. Basically check to make sure the new include.php variables are set the same as your old.

If you don't want security change REQUIRE_EXTERNAL_API_PASSWORD to 0 and RESTRICT_EXTERNAL_PORT to 2 and don't add the .htaccess file

*edited to reflect mistake mentioned in following post

[2017-11-29 15:56] merrickw commented on #6
@sktaylortrash Thanks for the quick tips;

A couple of edits - I believe for no new security you want REQUIRE_EXTERNAL_API_PASSWORD set to 0.
Also, the token file needs to be copied over (if creating a new folder).

Thanks for the help, so far it's been handy to turn rooms on and off with Google Home.

________________________________
From: sktaylortrash <notifications@github.com>
Sent: Wednesday,

[2017-11-29 16:30] sktaylortrash commented on #6
@merrickw
oops good catch on the 0. I've updated my previous post to reflect in case someone else wanders in.

I didn't move my install so I never thought about the token

[2017-11-29 16:45] bren1818 commented on #6
@merrickw @sktaylortrash  - Glad to hear you got things working 👍

I will work on documenting what each of the options mean in the include file. I think now that IFTTT has rolled out webhooks (perhaps they did sooner and I didn't notice) this project will get some more interest from all of those abandoned TCP users. TCP even yanked their youtube videos and documentation, so I added what I could fi

[2017-11-30 13:39] merrickw commented on #6
Keep us posted on the Raspberry Pi webserver, that sounds like a good idea.

Another question, is there a URL that would Activate/Deactivate Scenes/Smart Control?  I see it's calling scenes.php from the console, but that's it.

[2017-11-30 13:41] sktaylortrash commented on #6
The Pi should work well. I have my instance running in a Linux virtual machine without issue

[2017-11-30 18:10] vijimaini commented on #6
@bren1818 Thanks the IFTTT Adiition works great. The only issue I have is that I cannot use SSL as I have self issued SSL certs and IFFTTT does not work on those certs. Has any body encountered same issue? Is using http good enough, though password is exposed.

[2017-11-30 18:31] sktaylortrash commented on #6
If you really want HTTPS/SSL you could get a free certificate from Let's Encrypt.  If you're running Apache on Linux I'm pretty sure they have a client that will auto renew their certificates.

Otherwise, with HTTP if you use the .htaccess file to limit external connections to only api.php - someone would have to be intercepting traffic between you and IFTTT in order to:
1: Get the port (assuming

[2017-11-30 18:36] merrickw commented on #6
@sktaylortrash @bren1818
Do you have a recommendation for a RaspberryPi Zero kit?  I see a bunch on Amazon.
Can you recommend a tutorial to setup an Apache server on it?
I'm a windows guy so this is a bit out of my realm.

[2017-11-30 18:47] sktaylortrash commented on #6
@merrickw if you want a complete kit then this one will do the trick
https://www.amazon.com/CanaKit-Raspberry-Wireless-Starter-Official/dp/B06XJQV162
It has the mini-HDMI and the USB OTG already included.
Also the SD card has the NOOBS quick setup environment already loaded.

So when you go through [this tutorial](https://www.raspberrypi.org/magpi/apache-web-server/) you can skip the part about co

[2017-11-30 18:55] merrickw commented on #6
Perfect. I'm going to give that a shot.

-------- Original message --------
From: sktaylortrash <notifications@github.com>
Date: 11/30/17 1:47 PM (GMT-05:00)
To: bren1818/TCPLightingWebInterface <TCPLightingWebInterface@noreply.github.com>
Cc: merrickw <merrickw@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [bren1818/TCPLightingWebInterface] Comments, Questions, open forum (2) (#

[2017-11-30 19:23] vijimaini commented on #6
@sktaylortrash Thanks.
I will try let’s encrypt. I run Apache on Mac. I use a high end port and not 80. Our isp blocks port 80. I should also try Pi as a web server.

[2017-11-30 19:27] bren1818 commented on #6
@vijimaini - I know it was answered above, but you can use www.sslforfree.com to make a genuine certificate if Let's Encrypt doesn't work for you. I have used www.sslforfree.com in the past and it works very well. That said, using a non standard port, the .htaccess and a password should keep you pretty secure 👍  Thanks @sktaylortrash  for answering above - the kit you recommended to @merrickw was

[2017-11-30 20:05] merrickw commented on #6
@bren1818

Any thoughts on my other question -
 is there a URL that would Activate/Deactivate Scenes/Smart Control?
From the Scenes UI I see it calling scenes.php from the console, but that's the full URL.

[2017-11-30 20:19] bren1818 commented on #6
@merrickw  the scenes code should be able to be run the same way through IFTTT
You'd have to add the scenes.php to the .htaccess file as allowable. Then the URL for the webhook would be a post passing a 'scene', (scene ID) and an 'action' which was "on", "off" or delete.

something like
{host}:{port}/scenes.php and then POST data {scene: sceneID and action: "on|off"}

I haven't played with it yet,

[2017-11-30 20:24] merrickw commented on #6
I'm not sure how to add POST data ... and get the Scene ID

________________________________
From: Bren <notifications@github.com>
Sent: Thursday, November 30, 2017 3:19 PM
To: bren1818/TCPLightingWebInterface
Cc: merrickw; Mention
Subject: Re: [bren1818/TCPLightingWebInterface] Comments, Questions, open forum (2) (#6)

@merrickw<https://github.com/merrickw> the scenes code should be able to be ru

[2017-11-30 20:40] bren1818 commented on #6
I'll try and document tonight. Webhooks I believe has a post option. I'll
test tonight and let you know. Worst Case I could add an option to the
API.PHP to trigger scenes like the other calls.

Will let you know

On Nov 30, 2017 3:24 PM, "merrickw" <notifications@github.com> wrote:

[2017-11-30 23:43] bren1818 commented on #6
@merrickw  I updated 3 files in the project, just for you 👍
pull the updated .htaccess, scenes.php and scenescreatedit.php

I made the scenes page tell you the scene Number (ID) and listed how to make a call via a webhook like so:

http://{{your-web-address}}:{{port}}/scenes.php?scene={{Scene Number}}&action={{on|off}}&password={{your-api-password}}

Dont worry about using post, I made it so it wi

[2017-12-01 06:39] sktaylortrash commented on #6
@bren1818
Scene stuff looks good worked fine in my initial testing.

Just to test everything I setup a completely clean linux VM tonight to make sure I knew what modules are needed to make everything work and that tutorial I linked to is a little deficient. There's several php modules needed to get this all sorted.  I'll see if I can find a spare SD card to throw in my PI and build you guys out so

[2017-12-01 14:44] merrickw commented on #6
Thanks @bren1818

I tested it out,  It seems to be invoking _a_ scene, but it's not invoking the right scene.
I think it's just turning all the bulbs on.  Let me know if I can help troubleshoot.

I am using a URL without a password or the htaccess file for now;
My URL looks like:
http://blahblah.noip.com:1234/scenes.php?scene=2147483643&action=on

[2017-12-01 15:39] sktaylortrash commented on #6
weird I just fired off all my scenes one at a time and they behaved as expected

[2017-12-01 16:30] bren1818 commented on #6
@sktaylortrash - 10$!? Where? Thats a great deal. I haven't seen any of the TCP stuff in stores for the last 6 or so months. I had kept an eye out. My second bridge actually bit the dust, that's why I haven't invested much time into the Dev branch. I haven't migrated any of these changes as with the Dev branch I took a different approach.

In theory you could setup more than one instance of this p

[2017-12-01 16:45] sktaylortrash commented on #6
The unopened kits were a couple hours away. Found them on a local buy and sell site.  I haven't seen them yet my nephew's picking them up Monday but from the pictures there the ones with 2 bulbs a bridge and a remote. So if nothing else I got 4 more bulbs for $20.

I'll dig around in that other branch see what I can determine.

It's funny about scenes. I use them extensively to turn on lights in t

[2017-12-01 16:57] k8gg commented on #6
I also use scene extensively via the scheduler inside the bridge. And, yes,
other than the drifting clock and sunrise/sunset issue due to dead C&C, I'd
also say they are quite reliable.

And man, the latest IFTTT development is all very exciting!

On Dec 1, 2017 11:45 AM, "sktaylortrash" <notifications@github.com> wrote:

[2017-12-01 17:23] merrickw commented on #6
I created a new test scene (from the TCP android app).
When I activate the scene from your UI it turns on all lights to 100% bright.
When I activate from the TCP app the dim is set very low for all lights.

I'm wondering if the other testers are trying varying dim levels or all 100% brightness?

[2017-12-01 17:50] sktaylortrash commented on #6
@merrickw  Good catch. I was only watching to see if the bulbs turned on and off. But your right it's ignoring the brightness settings on the scenes and just turning any affected bulbs on to full

[2017-12-01 18:08] bren1818 commented on #6
@merrickw @sktaylortrash  Hmm, I will have a look at that. Perhaps my bridge call back is missing something. I'll see what I can find - good catch.

[2017-12-01 18:09] sktaylortrash commented on #6
Further to that previous comment.  The scene edit function in the WebInterface shows that in the attached instance one light should come on at 44% while the rest are at 100%. In reality the 44% is ignored.

Also now noticing this is not an api only issue as manually triggering the scene from the activate button in the interface exhibits the same behaviour.

    Array
    (
        [sid] => 2147483

[2017-12-01 18:29] bren1818 commented on #6
The array dump you pasted above comes from this raw bridge command:
`cmd=SceneGetListDetails&data=<gip><version>1</version><token>".TOKEN."</token><bigicon>1</bigicon></gip>`

To trigger the scenes, I hit the bridge with a raw command of:

`cmd=SceneRun&data=<gip><version>1</version><token>".TOKEN."</token><sid>".$sceneID."</sid><val>1</val></gip>"; //val 1 is on 0 is off`

I'll do some digging to

[2017-12-02 08:31] sktaylortrash commented on #6
Sorry guys this took longer than planned - Hopefully it helps
[RaspberryPI-LAMP-Install.docx](https://github.com/bren1818/TCPLightingWebInterface/files/1523660/RaspberryPI-LAMP-Install.docx)

[2017-12-02 13:44] merrickw commented on #6
Very cool.  I'll be receiving my kit in the next day or two and will use your guide.

Thanks for putting this together.

________________________________
From: sktaylortrash <notifications@github.com>
Sent: Saturday, December 2, 2017 3:31 AM
To: bren1818/TCPLightingWebInterface
Cc: merrickw; Mention
Subject: Re: [bren1818/TCPLightingWebInterface] Comments, Questions, open forum (2) (#6)

Sorry guy

[2017-12-02 14:26] bren1818 commented on #6
@sktaylortrash Thanks for putting that guide together.  I got my pi all setup and running yesterday and I can say it works quite well. Wish I had your guide at the time. For whatever reason my pi would not pickup on a mouse/keyboard combo. I got through the guides using just the keyboard and enabled ssh. I fortunately had a usb-ethernet adaptor because I was seemingly unable to figure our how to t

[2017-12-02 15:15] bren1818 commented on #6
http://www.noip.com/support/knowledgebase/install-ip-duc-onto-raspberry-pi/ -- one thing to add to pi setup 👍

[2017-12-02 16:43] sktaylortrash commented on #6
@bren1818
The single usb port is probably the biggest downside to the Pi Zero during setup. I usually use a hub and independent keyboard and mouse. I'm guessing that until the system is fully loaded it doesn't have access to the full HID driver set to load what it needs for combined devices.

I didn't include things like no-ip or let's encrypt mainly because they're not applicable to everyone, or

[2017-12-02 17:53] bren1818 commented on #6
@sktaylortrash - Great idea on wiki! I have much renewed interest in this project. Appreciate you reaching out. I started a wiki and invited you as a collaborator to the project.

Cheers,

Bren

[2017-12-02 17:57] sktaylortrash commented on #6
@bren1818 right on see you're already in the making some placeholders

[2017-12-02 18:01] bren1818 commented on #6
@sktaylortrash Yessir 👍

I have to head out for the afternoon, but when Im back this evening I'll see how to grant you access to the Wiki.

Cheers

[2017-12-02 19:51] sktaylortrash commented on #6
@bren1818
Look like adding me as a Collaborator was enough.  I've added a simplified version of the Pi instructions. It eliminates the virtual host stuff and just has the barebones for setting up a server for the project. I think I'll do a second one that has the more advanced stuff or add it at the end as an option

[2017-12-03 18:38] merrickw commented on #6
@sktaylortrash

I just tried out your guide, but I must be missing something.

I had Wifi connected during the NOOBS install, but now that I'm at the prompt I don't think wifi is enabled at all.  I get no mention of wlan0 when I try ifconfig -a.

Also, I wonder if I should've loaded the full Raspbian instead of lite - since I'm new to this I wouldn't mind seeing the GUI ... is there a reason you r

[2017-12-03 19:21] merrickw commented on #6
@sktaylortrash just an update, I went into Recovery, back to Noobs, and am installing full Raspbian;  that way I can hopefully see the wifi icon on the screen to configure ...

[2017-12-03 19:28] sktaylortrash commented on #6
That's really weird on the Wi-Fi I did the install twice to be sure I had the steps down. But I did just do a quick google and apparently others also have the issue

I only recommended lite because the gui is really unneeded in a web server environment. It loads all kinds of programming tools and at at least at the quick glance I took had no tools for configuring web server stuff so that was still

[2017-12-03 20:34] merrickw commented on #6
After installing the full graphical Raspbian, wifi is connected;  I'll continue on later when I get back from a kids birthday party ...

[2017-12-04 04:14] sktaylortrash commented on #6
weird but glad that's working. I've ordered myself the same kit in case my pi zero is a different version or something. Plus I'm sure I can find a use for it as something else afterwards

[2017-12-04 23:18] bren1818 commented on #6
@merrickw re: the wifi not turning on - I had the same issue (or so I thought). I had installed and configured with the GUI and then disabled it and made it boot into the CLI.  When it rebooted it didn't seem to connect. It did connect eventually, but  it took about 20 minutes for some reason. I ended up ssh'ing in and having it start with the GUI and using VNC for future wifi toggling. Having the

[2017-12-04 23:34] merrickw commented on #6
Well, I pummeled my way through and got it all working.  I installed the full graphical Raspbian and that left the wifi on.  I had various problems along the way, like not having permissions to the html folder - I changed ownership to pi user, used chmod 777 (instead of 776 from the wiki - not sure if that made a difference).  I also had a problem with Apache executing PHP, so I ran this:
sudo apt

[2017-12-04 23:40] anick08 commented on #6
@bren1818 @sktaylortrash

Would there be any issue with running this on an existing Windows Home Server (But we have Win10 OS, not WinServer installed) instead of a RPi

[2017-12-04 23:51] bren1818 commented on #6
No issues. I developed this on Windows 10 and use xampp as server. It
should be a-ok. I just am using a pi so I don't have to leave a desktop on.

On Dec 4, 2017 6:40 PM, "anick08" <notifications@github.com> wrote:

[2017-12-04 23:54] sktaylortrash commented on #6
@merrickw Glad you are up and running - once I get my Zero I'll go through it all again. I'm just not understanding why you are seeing such different results.  I definitely didn't need to change ownership of anything to get it work and 766 should give you read write to the folder and files

@anick08  If you want to run it with IIS the windows builtin webserver rather than xampp you'll need to look

[2017-12-04 23:59] anick08 commented on #6
I don't mind using XAMPP, I had this up for a hot minute before using that, but began to not use the bulbs, with IFTT and Google Home, I am reinterested in this.

[2017-12-05 00:00] bren1818 commented on #6
@anick08 Yep, voice control makes things more fun. I'm going to put some time into this project and re-write some of it. XAMPP works pretty nicely IMO.

[2017-12-05 04:13] bren1818 commented on #6
@merrickw - I have a fix for the scenes issue. I'll be rolling out an update in the next few days... I'm over-hauling the UI and going to port the scenes into the main landing page, and their api calls to the api file to make everything more streamlined.

If you want to do a quick fix, modify scenes.php line 51 to: `$CMD = "cmd=SceneRun&data=<gip><version>1</version><token>".TOKEN."</token><sid>".

[2017-12-05 04:26] sktaylortrash commented on #6
@bren1818
random thought. It seems that include.php has sort of grown over time to include a lot more functions than it did originally.

I'm wondering if for the sake of easier updating it might make sense to move all the user defined variables out to their own file. Preferably one that doesn't exist in it's final form on git.  Like make a config.inc file necessary to run the program but in git ha

[2017-12-05 14:05] bren1818 commented on #6
Haha that makes perfect sense. It's actually part of the over-haul I'm
working on because I got sick of committing only parts of the include
file.  As you suggested, I kinda copied the phpMyAdmin approach of having a
config.inc file.

Will keep you posted. Hope to push the changes in the next couple of days.
I've also cleaned up the skin and will be moving some of info into the wiki.

On Mon, Dec

[2017-12-05 14:09] sktaylortrash commented on #6
Okay cool.
On another note before I do more. How are you with the styling I've gone with on the Pi and DDNS entries in the wiki? Anything you'd like changed?

[2017-12-05 14:12] bren1818 commented on #6
I like what I see and really appreciate you taking the time to do so. Also
I'm loving the feedback and suggestions. I have a long bulleted list of
things I want to do. Thanks again for your time and work! :)

On Tue, Dec 5, 2017 at 9:09 AM sktaylortrash <notifications@github.com>
wrote:

[2017-12-05 15:09] sktaylortrash commented on #6
Not a problem glad to help in some way. It's been a long time since I did coding as a job so I'm only helpful conceptually.
I'll hold off on integration and installation documentation until you get this next round of changes sorted

[2017-12-05 16:17] merrickw commented on #6
@sktaylortrash , I did have some feedback on your original document if it helps ...
- After the OS install, you might want an item 6) login as pi/raspberry (I had to look that up)
(although in my case I installed full raspbian and not lite, so I went off script, due to wifi not enabled)
- Also, the reboot command, 	sudo shutdown -r NOW, needs a lowercase now
- And, as I previously mentioned, somet

[2017-12-05 16:28] bren1818 commented on #6
@merrickw fret not. Likely the Pi's ip address changed. I suggest on your
router, lock it to an ip by MAC address. Then program the hostname and the
IP in your host files if able.

This is also likely why you're seeing your router admin page, the routing
to the pi is not happening. You're likely only seeing the router admin page
because you're on your internal Network. As a precaution, open up a p

[2017-12-05 16:35] sktaylortrash commented on #6
@merrickw

- the username and password are literally the first thing after the title on the document
- I've corrected the NOW on the wiki
- I'll double check the php thing when I get the zero on Friday the commands I posted were literally the ones I typed in terminal. So I'll have to confirm if the automatic libraries on a GUI build of Raspbian are different somehow than the lite version

for the

[2017-12-05 16:35] merrickw commented on #6
@bren1818
Actually, I locked down the local IP, so that didn't change.  Just the hostname became invisible on my network ...  maybe related to some local dns/hosts setting?

And I have no problem getting to the lighting page using the custom port;  My problem was when I tested my URL without the custom port, (going to 80).  But yes, the proxy test was a good idea, the admin page only comes up loca

[2017-12-05 16:38] sktaylortrash commented on #6
and you both replied before I did.

if you are using your router as the DNS server for your network. And have statically assigned the IP check if your router has a local hosts option for the DNS. Then you can set the Pi's hostname and IP and the router's DNS should resolve it

[2017-12-06 14:51] AinV07 commented on #6
Wow, lots of activity here all of a sudden, the Black Friday effect continues! I too picked up some Google Home Minis and a SmartThings Hub 2. Slightly different challenge on my part, I wanted to integrate both the TCP lights and my legacy X10 stuff.

Since I already use Melloware's X-10 Commander app and agent, that meant I had local web server interfaces for both TCP (this project) and X10 (usin

[2017-12-06 15:45] sktaylortrash commented on #6
@AinV07 that's awesome can't wait to see what you put together.

[2017-12-06 19:08] bren1818 commented on #6
@AinV07 - thanks for sharing. Keep us posted. I listed a number of the commands here:  https://github.com/bren1818/TCPLightingWebInterface/wiki/Bridge-API-Commands---For-Developer-info. Really curl is the key and knowing what the bridge commands are, and the IDs of the devices help. I'll be rolling out an update hopefully tonight or shortly there after which will have an "IFTTT" builder to assist

[2017-12-06 22:36] bren1818 commented on #6
@sktaylortrash - One thing I thought to add to your instruction set for the pi,
In the apache2.conf (/etc/apache2/apache2.conf) the following two lines should be added to the end of the file:
`ServerSignature Off`
`ServerTokens Prod`

And then Apache restarted (sudo service apache2 restart)
This simply removes what kind of host is running behind the scenes. Its a small security measure, but a meas

[2017-12-06 22:44] sktaylortrash commented on #6
@bren1818 I can definitely do that, not a directive I was a aware of

[2017-12-07 03:24] bren1818 commented on #6
@sktaylortrash, @merrickw  I pushed a new build out.  It should look much more presentable now. I still have some things on my would like to do list, but I got excited... and tired, so I pushed what I have done so far.  Hope you like it. If you dont, well, let me know either way : )

I will do some more extensive testing with the scheduler this week and write up docs on how to setup a crontab in L

[2017-12-07 07:08] AinV07 commented on #6
Draft of writeup for integrating X10, TCP, SmartThings, Google Assistant:

[X10_TCP_ST_GA_writeup.txt](https://github.com/bren1818/TCPLightingWebInterface/files/1538121/X10_TCP_ST_GA_writeup.txt)

[2017-12-07 14:35] merrickw commented on #6
@bren1818 , the UI changes look great.

I was actually tinkering with a page that had all rooms/devices/scenes on a single page;  I can stop that tinkering now.

The IFTTT query builder is helpful too;  And the handy project/wiki links as well.
The new config file makes sense as well.  Nice job!

I wonder if the TCP support folks are aware that you're keeping their product alive...

[2017-12-07 14:51] merrickw commented on #6
@bren1818 I just noticed a difference from XAMPP and Apache;  I tested on my laptop with XAMPP and saw all the style elements - black border, colors for the rooms;  but when I migrate the same files to the RaspberryPi with Apache, I get a bare bones web page with no colors or styles.  Any idea what the difference is?

[2017-12-07 15:27] sktaylortrash commented on #6
@bren1818 looks great and the IFTTT builder will be super useful

@merrickw that'll be something either to do with file permissions or an apache module as it sounds like CSS isn't rendering or something. There must be a significant difference in the gui raspbian vs the lite, because I'm just not seeing that on my pi install. Well that or the version of NOOBS canakit is shipping is super old and di

[2017-12-07 16:01] merrickw commented on #6
@sktaylortrash I just opened the page from my desktop and I the style shows properly.  Maybe it's a browser issue on my laptop;  not sure, but not important either!

[2017-12-07 17:33] bren1818 commented on #6
@merrickw - It is/was very likely a cache issue. In the previous build I had been using a CDN to pull some of the javascript libraries. In the current build I downloaded, minified and merged those files since the majority of users will be running this locally. This also serves those users who may block outbound requests for their IOT projects. In future if you run into issues like that, try pressi

[2017-12-07 17:49] merrickw commented on #6
@bren1818 Bingo.  Ctrl-F5 resolved the issue.  Thanks!

[2017-12-07 18:01] vijimaini commented on #6
@bren1818 I finally used letsencrypt to get TLS signed certificates which I installed on Apache. Good learning experience. Problem I had was I got invalid port when I used it from IFTTT. I found that include.php has only provision for 1 external port, which I was using for http. Can I use multiple ports? if yes how. I tried Redirect in httpd-vhosts.conf to redirect http to https. It works internal

[2017-12-07 18:05] bren1818 commented on #6
@vijimaini  If you're using https, its very likely ifttt will either expect no port to be specified (if https is in your address), or port 443 versus the non-standard one with https. With Apache & vhost configuration, (I'll have to double-check for the pi) there should be a second config file 'ssl.conf' which points to your vhost directory and shows it uses 443.

in your default vhost file you cou

[2017-12-07 18:37] vijimaini commented on #6
@bren1818 Thanks for above info. On IFTTT I am using port 10000 for http and 10010 for https. On My firewall I port forward as 80 and 443 to my apache server. I am also using  security in file include.php to restrict external ports that you designed. However it only allow for either 1 port when using "RESTRICT_EXTERNAL_PORT", is set to 1,  or value 0 allows all ports. My question was, can we have

[2017-12-07 19:50] sktaylortrash commented on #6
For those looking to secure external access to this and other IOT devices a bit more. This reverse proxy setup might be of interest. http://tinkerman.cat/secure-remote-access-to-your-iot-devices/

If you're unfamiliar with the concept of reverse proxy basically this box would be the one you open ports on your firewall to.  Then you would setup paths from that box to your internal systems.  The way

[2017-12-08 01:05] sktaylortrash commented on #6
@bren1818 is it possible to have a flag in config.inc.php that determines whether or not the IFTTT builder should generate http or https urls? It's not a huge thing just took me a beat to figure why my new commands weren't working

[2017-12-08 01:39] vijimaini commented on #6
@sktaylortrash Thanks. I will look into using reverse proxy for my project.

[2017-12-08 02:05] bren1818 commented on #6
@sktaylortrash the IFTTT builder currently solely uses the EXTERNAL_DDNS_URL and EXTERNAL_PORT to make the requests, well in conjunction with the various flags. I suppose I could put a toggle in for whether to use the local / external address.

@vijimaini  - the restriction just forces the external port to be compliant. The rest relies on the .htaccess file. If you need another port,  edit the api

[2017-12-08 02:09] sktaylortrash commented on #6
@bren1818 my bad I set https on internal but not external that sorted it

[2017-12-08 03:31] vijimaini commented on #6
@bren1818 Thanks. I will make changes in my api.php

[2017-12-08 06:36] vijimaini commented on #6
@sktaylortrash Thanks. I will look into using reverse proxy.

[2017-12-08 20:54] sktaylortrash commented on #6
well won't be double checking that raspberry pi walkthrough this weekend courier couldn't be bothered to actually ship my purchase.

[2017-12-12 00:34] sktaylortrash commented on #6
@bren1818 @merrickw

- I've tested my instructions with a Pi Zero W and couldn't replicate the Wi-Fi issue. Tried 3 different SSIDs on two different routers, so no clue. At any rate I have created a troubleshooting page. The only entry right now is how to use raspi-config to configure Wi-Fi
- I added the Apache directives you suggested Bren
- Merrickw I've tweaked the file permissions stuff. Reali

[2017-12-12 00:46] bren1818 commented on #6
I trust you, everything you've done thus far has been great :)

I added a few small tweaks and bug fixes over the weekend to the
repository. Nothing Earth shattering though.

Cheers!

Bren

On Mon, Dec 11, 2017 at 7:34 PM Paul <notifications@github.com> wrote:

[2017-12-12 04:14] sktaylortrash commented on #6
@bren1818 did you mean to move the images folder into the CSS folder? if so it broke a bunch of the code

[2017-12-12 04:18] sktaylortrash commented on #6
@bren1818 actually I see it was intentional it may only be the syncgateway image

[2017-12-12 04:28] bren1818 commented on #6
I will double check the gateway image. I did mean to move all the image
files. I wanted to tidy up everything. Must have missed that. Sorry

On Dec 11, 2017 11:18 PM, "Paul" <notifications@github.com> wrote:

[2017-12-12 04:29] sktaylortrash commented on #6
I put in a pull request with the corrections. Never done that before hope I did it properly

[2017-12-12 04:34] sktaylortrash opened #8 "Issue for posting images for use in the wiki"
![044a9aaa-09b1-11e7-8a49-42facdd3795b](https://user-images.githubusercontent.com/23568795/33867601-6c3c5bca-dec3-11e7-8683-501d1f71be68.png)
![d50a8142-09b0-11e7-816f-c34998c486c3 1](https://user-images.githubusercontent.com/23568795/33867602-6c5a7f38-dec3-11e7-848c-dcdfe043231e.png)

![untitled](https://user-images.githubusercontent.com/23568795/33867566-3e69bc42-dec3-11e7-87f3-3e8ccc7a5bd4.png)

[2017-12-12 04:34] #8 closed

[2017-12-12 04:57] sktaylortrash commented on #8
![untitled](https://user-images.githubusercontent.com/23568795/33868112-aca2a7c0-dec6-11e7-87f7-1354f3e1efa5.png)

[2017-12-12 17:05] sktaylortrash commented on #8
![footer](https://user-images.githubusercontent.com/23568795/33897902-5b109938-df2c-11e7-9ae8-687a427e29a2.png)

[2017-12-12 17:07] sktaylortrash commented on #8
![footer-trans](https://user-images.githubusercontent.com/23568795/33898004-a87cbcc4-df2c-11e7-9c18-732f41ef5be2.png)

[2017-12-13 03:22] sktaylortrash commented on #8
![gateway](https://user-images.githubusercontent.com/23568795/33920373-3b4bbc3e-df83-11e7-8128-8df7cbc4899d.png)

[2017-12-13 03:36] bren1818 commented on #6
@sktaylortrash your changes were great. I merged them in without issue. By the way, your work on the wiki is outstanding. Thanks kindly for all of your work on that!!

[2017-12-13 04:07] sktaylortrash commented on #6
@bren1818  Thanks for the kind words. I think I've got pretty much everything relatively sorted out except the IFTTT integration page. I've edited the scheduler page you made just to tweak some of the language and to add a description of the relevant config.inc.php variables. Hopefully that's cool.

Do you think it's worth creating some recipes that link you through the steps to create a system fr

[2017-12-13 06:28] vijimaini commented on #6
@sktaylortrash I got my Raspi today and used your guide for installation for OS and webserver. It was great and easy to follow. The only issue I had was with changing password for SQL. The sql server complained about syntax error with:
ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'NewPassword';
Other then that perfect, Tomorrow I will install TCPLightingWebInterface and

[2017-12-13 06:41] sktaylortrash commented on #6
@vijimaini glad it mostly worked. I'll double check that mysql syntax I used the same command on my ubuntu install which is also debian like raspbian but there might be a couple differences.

Edit - Sure enough there's differences. Plus I completely forgot the installation security script

[2017-12-13 17:55] bren1818 commented on #6
@sktaylortrash - I don't mind at all. With respect to the IFTTT recipes, are you suggesting we demonstrate "Select your assistant, ie Google assistant", "select either 'Say a simple phrase' or 'say a phrase with a number'", Populate your three what do you want to says, and response in the boxes provided,, click create trigger, for "that" choose webhooks and Make a web request, and then paste the f

[2017-12-13 18:08] vijimaini commented on #6
@sktaylortrash  I saw your updated command in guide for changing password for sql, that I ran without problem. I followed your guide to install webinterface on Raspi and went fine. There was one issue that File viewlogs.php was named viewLogs.php on the distribution directory, which I fixed in my raspi.
The remote api access security instructions were missing but I just copied file from my Apache

[2017-12-13 18:27] sktaylortrash commented on #6
@bren1818 I wasn't meaning IFTTT recipes I was meaning having a list like the example I included above on the landing page or somewhere easily found. Just because when you look at the wiki it's not immediately clear what the order of operations are if you are new to this project.

@vijimaini For enabling SSL the only thing I have documented is the setup for Let's Encrypt's client certbot which doe

[2017-12-14 00:24] vijimaini commented on #6
@sktaylortrash I was bit lost trying to enable mod_ssl, but googled it, as I am not used the raspi apache. All is done now and now I have IFTTT Triggers sent to the raspi api.php using https. Raspi System is GO now TCPwebinterface and IFTTT. I have enabled auto renew for certificates and will monitor.

[2017-12-14 19:53] sktaylortrash commented on #6
@bren1818 I have some questions/thoughts on IFTTT apache config before I write up that set of instructions in the wiki. Any chance you have some time in the next several days and are amenable to chatting through some sort of instant messenger? would be more efficient than here

[2017-12-14 20:37] bren1818 opened #9 "TEST"
@sktaylortrash - Hey Paul, was hoping you'd reach out. I didn't see your name / email on your account page. I thought mine was shared. With holidays around the bend I'm all over the place, however- please do email feel free to email me. . I'll kill off this issue shortly so my email isn't public. Hope this reaches your inbox, Cheers!

[2017-12-14 20:37] #9 closed

[2017-12-15 01:50] merrickw commented on #6
@sktaylortrash @bren1818 I'm not sure if I missed this instruction somewhere, but I just re-installed my pi since my networking was getting screwy.  For a custom port for Apache I needed to edit this:

`sudo nano /etc/apache2/ports.conf`

to replace the LISTEN 80 with my custom port.

I found that instruction from this page: [http://www.noveldevices.co.uk/rp-webserverport](http://www.noveldevices.

[2017-12-15 02:12] sktaylortrash commented on #6
@merrickw you didn't miss something there's just no updated documentation for IFTTT regarding usage with the Pi.   The items referenced  in the Word doc were for XAMPP as that was the only tested implementation when @bren1818 blessed us with a functional API

[2017-12-17 08:14] sktaylortrash commented on #8
![myapplet](https://user-images.githubusercontent.com/23568795/34077705-04a42cde-e2d0-11e7-972e-2573eb6ceb4f.png)
![newapplet](https://user-images.githubusercontent.com/23568795/34077706-04bcc4c4-e2d0-11e7-95cd-29f6beffd739.png)
![phrase](https://user-images.githubusercontent.com/23568795/34077707-04d62c0c-e2d0-11e7-96f6-c385ab4f3efa.png)
![phrase2](https://user-images.githubusercontent.com/235687

[2017-12-17 08:31] sktaylortrash commented on #8
![querybuilder2](https://user-images.githubusercontent.com/23568795/34077783-6b793baa-e2d2-11e7-8161-2f3f617705d7.png)
![querybuilder](https://user-images.githubusercontent.com/23568795/34077778-51dd8778-e2d2-11e7-9e43-efaf468c35a2.png)

[2017-12-17 08:38] sktaylortrash commented on #8
![untitled-1](https://user-images.githubusercontent.com/23568795/34077850-5efdfe0a-e2d3-11e7-940e-339b1db20c74.png)

[2017-12-17 13:55] bren1818 commented on #8
Haha, I never noticed you adding the images to this thread and I kept
wondering... Where/how is he uploading these!? :)

I'm starting to take on the scenes. It's... More difficult than I'd have
thought. The app does it in two steps, I'm shooting for one.

On Dec 17, 2017 3:38 AM, "Paul" <notifications@github.com> wrote:

[2017-12-17 17:50] sktaylortrash commented on #8
Yeah had to overcome the fact that you can't upload images to the wiki for some strange reason.
Unless there's something I missed. Everything should now be fairly well documented.

Good luck on the scenes

[2017-12-17 18:56] #5 closed

[2017-12-18 05:05] sktaylortrash commented on #8
[Quick Start Guide.pdf](https://github.com/bren1818/TCPLightingWebInterface/files/1566678/Quick.Start.Guide.pdf)
[Remote Lighting Kit.pdf](https://github.com/bren1818/TCPLightingWebInterface/files/1566679/Remote.Lighting.Kit.pdf)

[2017-12-24 01:36] bren1818 commented on #6
@sktaylortrash scenes can now be setup with schedules. Makes my scheduler component largely irrelevant... but hey its here, & it appears to work!

[2017-12-24 06:30] sktaylortrash commented on #6
@bren1818 cool - Not sure I'll get to play with it before I fly out in the morning. But I'll definitely check it out

[2017-12-24 06:37] sktaylortrash commented on #6
@bren1818 couldn't help myself, updated my install changed a schedule and it showed in the phone app so looks like it's all good.  Also the Remote icon on the info page is a nice touch

[2017-12-24 13:34] bren1818 commented on #6
Have a fantastic trip! Glad it works for you too! Happy holidays!

On Dec 24, 2017 1:37 AM, "Paul" <notifications@github.com> wrote:

[2017-12-25 19:40] SlimChaanbiPro commented on #1
follow me freinds
 https://github.com/SlimChaanbiPro

[2017-12-25 20:20] merrickw commented on #6
@bren1818 Nice job on the scenes!  Just tested it out, looks great.

One thing I never understood about scenes - what does stopping a scene mean?  In my mind it should remember the state of every bulb before the scene and revert ...  I never understood what the end of a scene means ... all scene devices off?

[2017-12-25 21:00] sktaylortrash commented on #6
@merrickw scenes can be used in lots of ways I use them as additional grouping. So a main floor scene with no schedule turns all selected bulbs on at start and off at stop.  Also I make groups and apply schedules so a selection of lights turns on at X (start) and off at X2 (stop).   Scenes as groups is especially useful since virtual devices remove access to individual bulbs.  So my ceilings fan h

[2017-12-25 21:34] merrickw commented on #6
So this is where I get confused - let's say you have three scenes, a, b, and c.  You start scene a, then start scene b, then stop scene b.  Does that turn lights off or go back to scene a?  If ending a scene just means turns lights off, that's like going to another scene of off, no?

________________________________
From: Paul <notifications@github.com>
Sent: Monday, December 25, 2017 4:00 PM
To:

[2017-12-25 21:52] sktaylortrash commented on #6
I haven't got scenes with overlapping lights so I can't honestly say what happens in that instance. Only thing to do is test that I guess.

[2017-12-25 21:54] bren1818 commented on #6
Pretty sure, if the scene turns the lights on, it will turn them off when
the scene ends (if you specify the end time).

Remember a scene starting can also turn lights off, I haven't tested if it
will turn them back on if it starts by turning them off.

Merry Christmas.!

On Dec 25, 2017 4:52 PM, "Paul" <notifications@github.com> wrote:

I haven't got scenes with overlapping lights so I can't hone

[2018-01-17 20:52] sktaylortrash commented on #6
Hey guys and gals I'm still working on putting together some workable instructions for those unfamiliar with the Arduino programming environment but I have written some code for theses little $8 (less from China) wifi micro-controllers to create wall switches for controlling the TCP lights. Basically build-your-own remotes.   I have 1 and 2 button versions built
![nodemcupng-small](https://user-im

[2018-01-24 04:27] capncybo commented on #6
Hey Bren,  I actually just joined GitHub to say a BIG Thanks to you for this Project.  I stumbled across it during your earlier efforts & what you've accomplished with this is Fantastic.  I kinda forgot about it for awhile but checked it out recently & got to thinking...  Screw using a PI maybe I can shoehorn this into my Asus Router via Entware instead.  I won't say it was easy for me, as I strug

[2018-01-24 12:27] bren1818 commented on #6
Thanks for the compliment and sharing! That's really nifty. I'll going to
have to Google Asus Entware. I hadn't heard of that prior. If you write up
what you did, I'd be happy to mention it. I need to place an article about
what one member @sktaylortrash did by wiring a switch up to make API Calls.
He was also instrumental in assisting with documentation.

Thanks again, hope to hear more about you

[2018-01-24 16:08] sktaylortrash commented on #6
Hey all,

Wondering if anyone out there has the CFL version of this system - http://bit.ly/2Gc5LVJ
Also if anyone has the energy monitoring module - http://bit.ly/2DCEm1G

just curious on compatibility with the rest of what we have

[2018-01-24 23:59] bren1818 commented on #6
Fascinating. I've seen references to some of this stuff in the code base
but never actually looked them up. Its a crying shame they killed this
equipment off, they had a lot of nifty stuff on the go.

Love the remote:

https://www.ebay.ca/itm/GREENWAVE-REALITY-DE220-1-IN-HOME-DISPLAY-ENGERY-MONITORING-SYSTEM-M3/222398285222?_trkparms=aid%3D222007%26algo%3DSIM.MBE%26ao%3D2%26asc%3D20170831090034%26

[2018-01-25 01:04] capncybo commented on #6
Good Point Bren, I should have thanked sktaylortrash for his work with the wiki too.
Anyways to summarize what I did.
-I updated my RT-AC68U Router firmware to the latest ASUSWRT-MERLIN Firmware.
available via: https://asuswrt.lostrealm.ca/
Then you need to format a portion of a USB-Drive or Memory Stick in EXT3 format
(I made a 32G EXT Partition.)
Stick that drive into one of your routers usb por

[2018-02-08 18:00] gzapatal commented on #6
**### @bren1818 , I want to thank you for this amazing develop/project, my TCP Lights got back to life and I did integrate them to my smart home project.**

I set an Apache server on my Win10 box but I'll try setting up the Lighttpd web server into my Asus router (thanks @capncybo ) but using Optware (https://www.hqt.ro/lighttpd-web-server-with-php-support-through-optware-ng/), from my understand

[2018-02-20 11:32] PartialVolume commented on #6
@bren1818  I just want to say thanks for some great software !!, Real nice work. The whole setup works beautifully with IFTTT. (Kubuntu Linux server with one TCP gateway and 10 TCP connected bulbs.

[2018-08-21 00:16] fgildred commented on #6
Hi All,
Curious if anyone has tried setting this up recently? Long story short, I had bulbs and a hub in storage. Went to setup them up the other day and ended up here. I "had" the hub working with smartthings as I had blocked the TCP device from talking out to the web. Well, I made the mistake of then changing the local IP. For some reason that hosed my setup.  I went to attempt to setup things a

[2018-08-21 00:28] sktaylortrash commented on #6
I was only able to get this project working with the latest firmware 3.0.74 which doesn't have ssh working. Also I was able to download the app from Apple and Google recently. They just only work within your home and not over the internet any longer

[2018-08-21 01:00] bren1818 commented on #6
Hey there - the web app should work no problem with the latest bridge
firmware, although I have heard that there was a "silent" firmware pushed
out by Greenwave which made downgrading fail. I haven't been able to
re-downgrade my hub, so I've let it update to the latest and its running
without issue.

Before you setup the Raspberry Pi, you can always run the project from a
local web server on your

[2018-08-21 02:05] fgildred commented on #6
I’m thrilled you are both still here and quite surprised how quickly you both replied!  Having purchased around a dozen bulbs, I’m quite keen to get them connected with all of my other hue bulbs, door sensors, and the like. Also, trying to avoid the wife aggro as I’ve been swapping out bulbs left and right.

Reading Paul’s comment, I gave the greenwave reality app another try. I did try updating t

[2018-08-21 03:23] bren1818 commented on #6
You are out of luck with Greenwave for sure. They shut down their service
and then turfed the interface on the bridge via the updates.

That said you should still be able to use the old firmware with my project,
you'd just need to connect over port 80 vs 443 if I recall correctly.

Once you get the project up and running you could technically allow access
to the web interface outside of your local

[2018-09-21 16:51] henroFall commented on #6
This project is awesome. I have my hub flashed with v2 and working with Smartthings via the TCP Connect Smart APP [](https://github.com/SmartThingsUle/TCP-Connectd) and had to find the APK for my phone app, but today that crapped out. This project saved my life, now I can keep discovering all of these cheap bulbs I got online without needing my phone.

Oh, and yes, with v2 firmware, absolutely cha

[2018-10-04 19:36] jadakin commented on #6
Great project, thanks, and I'm pleased ti find you are still interested in the bulbs. Thanks to your work, I have added 16 or so to add to my original pair and they all work very well. Most of them came from ebay as starter sets at a cost that was about the same as ordinary leds, so good news all round.

One thing: Most of these sets came with wireless gateways - I have three or four of them. I ca

[2018-10-04 19:43] bren1818 commented on #6
@jadakin Glad you're making use of the bulbs. They're a fantastic product, too bad they were abandoned. I appreciate the note on the wireless gateway. I never saw those in Canada, but can't imagine they should work any differently than the wired gateway. Perhaps they're not using SSL ( try using port 80 vs 443?) but I'm afraid without having one, I can't do much in the way of debugging.  Let me kn

[2018-10-04 19:49] sktaylortrash commented on #6
@jadakin   I know I had some random weirdness happen when I had 2 wired gateways on the same network. Have you tried it with the wired one unplugged.  Also can you let me know the model number of a wireless gateway. I'd love to try to get one to mess with

[2018-10-04 20:12] jadakin commented on #6
@bren1818 Totally agree they are a fantastic product. My only real complaint with the hardware is the way they cycle up and down when they occasionally lose sync. I've come back of holiday to find my house flashing like a beacon!   The wireless hubs are model number UBW1J1-1G01-TP.  I did try disconnecting my wired hub before I tried the wifi one, so it's not that, sadly.  They are a "wall wart" t

[2018-10-04 20:13] jadakin commented on #6
@bren1818 I did try port 80, by the way. No joy.

[2018-10-04 21:25] sktaylortrash commented on #6
@jadakin  do you have really dirty power? In all the years I've had these bulbs I've never had them lose sync

[2018-10-04 21:25] bren1818 commented on #6
@jadakin  Shoot sorry to hear that. I looked up the UBW1J1-1G01-TP but didn't find much on it. Its also odd that your bulbs would cycle up and down. In theory that should only happen if they're in discovery mode, and that should only occur if they're powered on and off in succession 3 times. A UK plug would be of no use to me, and I have a few spare bridges kicking around already. @sktaylortrash m

[2018-10-04 22:03] jadakin commented on #6
@sktaylortrash Sorry, I've been getting my participants mixed up. My bad. You are welcome to a wireless bridge if it's practical to send it to you. Pm me. They are UK plugs and marked only at 220v 50hz, though they look fairly easy to crack open.
My bulbs have lost sync two or three times in as many years.  We are in a rural area with old overhead lines and it's credible that occasionally it has b

[2018-10-05 05:09] sktaylortrash commented on #6
@jadakin no worries we replied at the same time.  I'm finding a few references to the Wi-Fi bridges not working with some 3rd party apps so there's definitely something different going on with then. So while I'd love to mess with one and figure out the difference. If it's cost prohibitive to mail one to Canada don't worry about it.

[2018-10-05 06:54] jadakin commented on #6
@sktaylortrash Should be ok, it's very small and light. PM me your address and I'll see what I can do.. It'll be a good investment it if you can make anything of it!

[2018-10-05 15:58] sktaylortrash commented on #6
@jadakin there's no PM feature on github but you can hit me up at ptaylor @ taylortrash.com  and I'll get you my info

[2018-10-11 15:00] lukewakeford commented on #6
👋 Just wanted to say hi as I've been searching for a project like this for a while.

I have a number of TCP bulbs that i still use locally via the TCP app but i'd love to get them working remotely again.

I'm wondering if there is potential to get this project running on a raspberry pi or similar and potentially turn it in to a hub that can be controlled via IFTTT or another app to enable remote a

[2018-10-11 15:54] sktaylortrash commented on #6
@lukewakeford in the wiki you will find end to end instructions for a raspi install. There are additional instructions for setting up letencrypt so it can be reasonably safely exposed to the internet for IFTTT use as well.  The web interface provides a built-in tool to build the calls for interaction with IFTTT's webhooks. You could then interact with verbal controls with an amazon echo or google

[2018-10-12 04:59] k8gg commented on #6
@lukewakeford - this may not be the answer you are looking for, but I use this (https://www.home-assistant.io/ ; https://www.home-assistant.io/components/light.greenwave/) and this (https://community.home-assistant.io/t/greenwave-reality-tcp-connected-lights-component-not-working/46831) to achieve the "remote access" feature, among others.

[2018-10-12 08:11] jadakin commented on #6
Another possibility for those of an Apple persuasion is Homebridge.  There is a plugin (https://www.npmjs.com/package/homebridge-connectedbytcp) that works really well, although you'll need an AppleTV4 or an "at home" ipad if you want remote  access.

[2018-10-12 15:25] bren1818 commented on #6
@lukewakeford Hope the project works well for you. As you can see from the replies, still an active community, and there are plenty of options (not just this one) to control those old bulbs. Really just depends on your flavor of language and what meets your needs. At my house all the bulbs are controlled by Google Home & IFTTT integration as well as the project running on a raspberry pi. Feel free

[2018-10-15 15:59] lukewakeford commented on #6
Awesome, thanks for all the suggestions. looks like this will be a lot less work than i thought! 😄

[2018-10-15 23:12] w33zy commented on #6
Thank God I found this!

@bren1818 You saved me from having to replace my 6 TCP bulbs

[2018-10-15 23:22] bren1818 commented on #6
Very happy to hear that! Enjoy!

On Mon, Oct 15, 2018, 7:12 PM Kemory Grubb <notifications@github.com> wrote:

[2018-10-18 20:37] lukewakeford commented on #6
@k8gg - I've got home assistant installed on my raspberry pi, and i have the tcp hub paired - it can see all my lights. but none of them switch on and off, I'm guessing this is why you said:

After looking at that thread, I'm not sure what the solution actually is. any pointers?

[2018-10-18 21:31] bren1818 commented on #6
That error, if the same looks to be complaining about getting a string not
an int:

File
“/usr/lib/python3.6/site-packages/greenwavereality/greenwavereality.py”,
line 75, in turn_off
scheme + ‘://’ + host + ‘/gwr/gop.php?cmd=DeviceSendCommand&data=1’ + token
+ ‘’ + did + ‘0&fmt=xml’)
TypeError: must be str, not int

I don't use the home assistant but based on what I see, the command looks
formatte

[2018-10-18 22:05] sktaylortrash commented on #6
@lukewakeford I never could get the home assistant integration working reliably.  You'll notice I'm the one that started the error report linked within that other thread.  Honestly that component locked up my tcp hub every 2 or 3 days. So ever since I've only ever used this project as it's been 100% stable for me.
If you want to use the HA component you'll probably have better luck asking in their

[2018-10-19 08:34] lukewakeford commented on #6
Thanks for the info.

I can see that PR that never got merged, I might take a look and see if there is anything I can do to resolve.

Also Looks like an issue was opened on the python repo that hass is depending on? - https://github.com/dfiel/greenwavereality/issues/2

Cheers.

[2018-10-19 09:15] lukewakeford commented on #6
Added a PR here: https://github.com/dfiel/greenwavereality/pull/3 for the hassio fixes, just need to figure out how to test it.

[2019-06-14 22:19] sktaylortrash commented on #6
If anyone was wanting to get started with this gear or do a big expansion. Here's an auction with a lot of gear for a reasonable price. I've already got 20 spare of each size and 2 spare gateways or I'd jump on it.  https://www.ebay.ca/itm/TCP-Connected-Starter-Kit-with-22-bulbs/202638341551?hash=item2f2e2fb5af:g:VPAAAOSw1Hdby1A0

[2019-07-03 04:04] bmcgowan32 commented on #6
I love this package!  I bought up about 50 bulbs when I found them on super clearance and your package has made them workable in my house!!!

Ive been playing with the scheduler (very cool feature that I am just starting to play with), but I think that only individual lights can be scheduled?  Is there a way to schedule an entire room (rid)?

Also, I've tried using scenes, but it appears that sche

[2019-07-03 04:10] sktaylortrash commented on #6
My scheduled scenes work you just need to make sure the time is correct on your gateway. It seems to drift without the cloud service.  You can set it by choosing -Set Bridge Date Time- at the bottom of the webpage.

[2019-09-14 03:51] sktaylortrash commented on #6
Just a heads up if anyone is interested in easily combining this project with Home Assistant, Node-Red or the like. I have created a fork that enables MQTT and provides a method of Home Assistant to auto discover the lights. It's available at [https://github.com/sktaylortrash/TCPLightingWebInterface-MQTT](https://github.com/sktaylortrash/TCPLightingWebInterface-MQTT)

[2019-09-15 15:28] merrickw commented on #6
Hey Bren,  I don't know if you have time to support this at this point, but,
after years of working with no issue, it no longer works for me.

The page comes up with
"GWR Command not returned, this likely indicates your token is expired, or invalid.
Remove token and try regenerating a new one.
If you are continuously seeing this message, ensure the folder is writeable or that tcp.token is writeabl

[2019-09-15 16:29] bren1818 commented on #6
Hey Merrick, this has happened to me before, for reasons unknown... To fix
it, all I did was unplug the bridge for an hour or so, then plug it back in
holding the sync button.

One word of advice, make sure when you plug it in, you plug in the correct
power adapter. I incidentally fried a bridge by putting in the wrong power
cord.

If that doesn't work, double check the bridge is getting an ip add

[2019-09-15 18:12] merrickw commented on #6
Thanks Bren.  I have it unplugged now and we'll see what happens in an hour.

Regarding the php/curl settings, that would be irrelevant for just looking at the gateway page, http:// [gatewayip] /gwr, correct?
That page returns Forbidden if I use https, or unavailable for http.
It doesn't return a token.

I assume that test rules out server configuration or code issues, right?

Regards,
Merrick

__

[2019-09-15 19:28] bren1818 commented on #6
Well if you are going directly via browser to the bridge page and it
responds that's good. You'd want to use the https address if that's what
gives you the 403.

Assuming you get that far, through the browser that tells me the bridge is
ok.

The project uses curl to fetch the data similar to how the browser is used
but could fail silently.

At the top of the config. Inc file you could add the foll

[2019-09-15 19:41] merrickw commented on #6
Thanks again, Bren.

After
1) leaving the bridge unplugged for one hour,
2) I reconnected/powered,
3) pressed sync
4) re-opened the /gwr/ page
5) got a new token,
6) I pasted it in tcp.token

And, I'm back in business.  Web page works, IFTTT / Google Home works.

I guess the token changed or expired after years?  Strange.

But thanks for the tip!

Regards,
Merrick

________________________________

[2019-09-15 19:45] bren1818 commented on #6
No problem! Glad to hear that worked!

On Sun, Sep 15, 2019, 3:41 PM Merrick Weintraub <notifications@github.com>
wrote:

[2019-11-09 23:23] ezekiel-au commented on #6
Hi,

Can I use this to talk to the greenwave powernodes as well?

Thanks
Ezekiel-au

[2019-11-10 01:08] bren1818 commented on #6
Hi Ezekiel,

It's possible, but unlikely. I only developed this against the light bulbs,
and what I could reverse engineer based on the light bulbs & lighting app.
If the powernode can be controlled by native TCP Lighting app, it's
possible this could work. Please let me know if it does.

Cheers

On Sat, Nov 9, 2019, 6:23 PM ezekiel-au <notifications@github.com> wrote:

[2019-11-10 03:30] ezekiel-au commented on #6
Thanks for the fast response.

I've tried a few apps and it looks like this is a bust.

I guess the only thing now is to purchase a zwave dongle and sync the
powernodes to that and hopefully they work as they use to back in the day.

A bit more research before I pull the trigger on this as I'm really
interested in the power consumption data.

Regards,

Ezekiel

On Sun, 10 Nov 2019, 12:08 pm Bren,

[2019-12-13 13:58] driesie opened #16 "Adding bulbs without factory remote"
Is there a way to add bulbs without the factory remote?
Some of my bulbs seem to have "de-registered" and now that the app has disappeared I am a bit stuffed.
If anybody knows anything about the adding bulb protocol, I'm happy to try to add this to the code.

Thanks.

[2019-12-13 13:59] sktaylortrash commented on #16
Right at the bottom of the web interface for this project there is the option to add bulbs.   It says beta but only I think because it just never got updated to not say so. I've added many many bulbs using that function

[2019-12-13 14:37] bren1818 commented on #16
As Paul indicated - he beat me to replying - Yes you can add bulbs without
issue once you put them into discovery mode ( essentially powering them on
/ off a few times until they fade up/down ) then hit the sync button on the
bridge and click the "Search for Bulbs. (Beta)" link at the bottom of the
interface.

I do have it labelled as beta because I haven't cleaned up the interface
but it seems to

[2019-12-19 20:55] driessamyn commented on #16
Awesome. Thanks!

Thanks for putting this together as well. I may try to reverse engineer and build a REST API around this.

[2019-12-19 22:26] bren1818 commented on #16
Go for it! Should be pretty easy to do so. The majority of the commands are
contained within api.php in the project with some wrappers around the calls
to the bridge. Some of the other commands you may have to pull out of the
pages like the scheduler though

On Thu, Dec 19, 2019, 3:55 PM Dries Samyn <notifications@github.com> wrote:

[2019-12-19 22:29] sktaylortrash commented on #16
Also I have a fork with MQTT pub/sub and Home Assistant Auto Discovery if you are using that in your environment. [https://github.com/sktaylortrash/TCPLightingWebInterface-MQTT](https://github.com/sktaylortrash/TCPLightingWebInterface-MQTT)

[2020-01-18 18:57] gotminer opened #17 "Using Bulbs with Remote Only? - 601rcw"
Is there a way to connect bulbs to a zone on the remote and eliminate the gateway altogether? I saw someone mention it, but I never found any instructions.

I've been using my system with the remote only since the app stopped working, but I recently had a power outage at my house and it caused more than half of my bulbs to reset. The remote still works with one set of bulbs in one lighting fixture

[2020-01-18 19:22] bren1818 commented on #17
Two things to check.

1. Make sure the machine you're running the app on doesn't have a firewall
blocking traffic . (If your connecting not by localhost or on another
device).

2. If you're running the new xampp with php 7, you may need to uncomment
line 39 in the include.php to specify a cipher.

The app should have pretty much all the functionality to create rooms, add
or remove bulbs etc.

I re

[2020-01-18 20:00] gotminer commented on #17
I have tested with Windows Firewall Disabled and Enabled. There are no other firewalls on this machine. I can ping the gateway in both instances.

I am running XAMPP version 5.6.40.

I have deleted the .htaccess file.

Can the bulbs be put in discovery mode or whatever you call it when you flip the switch on-off-on-off-on-off-on to make them flash and then paired to a zone on the remote without us

[2020-01-18 22:14] bren1818 commented on #17
Ok so looking at your screen shot, you connect to the webserver ip in the
browser, not your bridge ip. Try 127.0.0.1 or localhost or the ip of your
computer in your browser. (You can figure that one out by opening command
prompt and typing ipconfig and looking for the ipv4 address) Assuming xampp
is running it should give you the landing page.

You need either the webapp or one of the mobile apps

[2020-01-18 23:35] gotminer commented on #17
Thanks so much for your help! I'm getting further than I was before. Apparently VMWare was using port 443 and preventing Apache from running. That part is working now, but when I type localhost or the ip of my machine into a browser I get the attached message.

What does it mean by "paste your token in the config.inc.php."? I don't see any instructions for this part.

![4](https://user-images.gith

[2020-01-18 23:40] gotminer commented on #17
I do see where to paste the token, but I guess my question is where do I get the token? The wiki says to paste the code that is generated during the gateway sync, but I'm not sure where I'm supposed to see that code.

![5](https://user-images.githubusercontent.com/44104559/72672034-00816300-3a22-11ea-8fd2-33815b528357.JPG)

[2020-01-18 23:55] bren1818 commented on #17
Assuming you have the ip correct for your bridge and you've pressed the
sync button on the bridge, when you refresh the page it should grab and
save the token automatically. The pasting is for an older setup.

You may have to uncomment (remove the //) on the line i mentioned earlier
if it isn't getting the token. Also make sure that the php. Ini has curl
enabled but xampp should have it correct by

[2020-01-19 00:11] gotminer commented on #17
Hmmm. I'm positive the bridge ip is correct.

I did uncomment line 39 in the include.php file and checked the php.ini file. It appears to have curl enabled. Still having the same issue though.

![6](https://user-images.githubusercontent.com/44104559/72672314-29a3f280-3a26-11ea-98aa-e08b4e52be55.JPG)

![7](https://user-images.githubusercontent.com/44104559/72672315-2b6db600-3a26-11ea-9209-7c84654eb

[2020-01-19 00:48] bren1818 commented on #17
Everything looks right. You had mentioned this was running on a vm?

Are you able to access the bridge ip via https or ping it from command
prompt?

On Sat, Jan 18, 2020, 7:11 PM gotminer <notifications@github.com> wrote:

[2020-01-19 00:52] sktaylortrash commented on #17
If this is XAMPP for Linux the web server doesn't have write permissions to the html directory by default. So it can't create tcp.token automatically.  I've always just recommended creating the file manually and using chmod to set the permissions to 766 This should let the automatic token creation work properly

[2020-01-19 01:05] gotminer commented on #17
It's not running on a vm. I just had VMWare workstation installed on this computer for something else and it was using port 443 for something. After I removed the software, Apache connected without an issue.

Yes I can ping the ip of the bridge from this pc. Can't access via https though.

It's XAMPP for Windows. I did give "everyone" full control of c:\xampp.

[2020-01-19 01:14] sktaylortrash commented on #17
Odd, but it still couldn't hurt to try making a blank file called tcp.token

[2020-01-19 01:20] bren1818 commented on #17
Odd. So in theory, if you go to https://{your bridge ip} you should get an
invalid cert warning and then it resolve to a 403.

The lighting web app doesn’t necessarily need to be run on 443 (https) you
can also access it on http

On Sat, Jan 18, 2020 at 8:05 PM gotminer <notifications@github.com> wrote:

[2020-01-19 01:31] gotminer commented on #17
Yes, Bren. When I try to access the bridge ip via https, I get invalid cert and then a 403.

So I changed the lighting bridge port from 443 to 80 in the config.inc.php file and I get this ...

![10](https://user-images.githubusercontent.com/44104559/72672977-67f2df00-3a31-11ea-84ec-2b41add95dd2.JPG)

And then if I create a tcp.token file in htdocs folder, I get this ...

![11](https://user-images.

[2020-01-19 02:19] bren1818 commented on #17
Really based on what you described, everything seems correct. The only two
lines you would/should need to update are:

define("LIGTHING_BRIDGE_IP", "10.0.0.179"); // IP address of TCP
Bridge/Gateway
define("LIGHTING_BRIDGE_PORT",

define("LOCAL_URL", http://xamp-server-ip

Then once you refresh the page after tapping the sync button everything
should be good. If not, the only thing I can think is

[2020-01-19 16:51] gotminer commented on #17
What version of xampp would you suggest I go back to? I'm currently on 5.6.40.

[2020-01-19 18:27] bren1818 commented on #17
I just downloaded 7.4.1 (latest) version of xammp. Did the standard install
but skipped perl, sendmail.

Then stated xampp.

I then Deployed the application into the htdocs folder. Edited the
config.inc setting my bridge ip to my bridge ip and the local url to the ip
address of my server.

I navigated to the page and got a 500 telling me the .htaccess was
problematic so I deleted that.

Refreshed

[2020-01-19 20:50] gotminer commented on #17
So I just performed the exact same thing on a machine with a fresh install of Win10 and disabled the firewall.

Standard install of xampp 7.4.1 minus perl and sendmail.

Started xampp. Apache is the only thing running in the xampp control panel.

Deployed application to htdocs folder.

Edited the config.inc file with only what you mentioned above.

Navigated to the page and got the 500 error.

Del

[2020-01-19 21:41] bren1818 commented on #17
It's possible you need to restart the bridge, they can be fussy. Pull the
power plug, let it sit off for a while and start it back up but otherwise I
see no reason for you to have an issue unless your router has a built in
firewall preventing your bridge to communicate which would be really odd.

Your LED indicator seems right. Mine has Wan lit up red, power illuminated
and lan off too.

All I can

[2020-01-20 23:02] gotminer commented on #17
I'll leave it unplugged for several hours and see if that does anything. I've restarted it a zillion times, but only leaving it unplugged for a couple of seconds.

How do I set a static ip on the bridge? I can't get to a web interface when putting the bridge ip into a browser.

I have a friend who has a spare bridge that I'm going to test tomorrow.

If all else fails, I'll test with a different ro

[2020-01-21 02:48] bren1818 commented on #17
I set the static ip by assigning a specific ip address to a specific MAC
address (configured on my router). I try to statically assign as many
devices as possible in my network as it makes it easier for me to identify
them.

I hope the spare bridge assists. So long as the two devices are on the same
network it should work. I'm thinking there must be something on your
network preventing the cross c

[2020-01-27 23:49] gotminer commented on #17
I tested it on a different router and tried my friends gateway last week, still had the same problems.

Gave up on it for a few days and then was reading another thread where someone was powering on the gateway with the sync button held in. What exactly does that do? I tried it and ended up with a ip, but the wan light would never turn solid red like normal. And the sync button didn't work at that

[2020-01-27 23:59] bren1818 commented on #17
It sounds like your bridge might have been flaking out or had static built
up on it. Usually having it unplugged a short while resolves this.

I believe holding the sync button on boot does a mini reset, but I would
have to read the original documents. Holding the bottom may have even been
a placebo.  Im glad it worked for you though, Hopefully no further problems
and I'll keep your trick in mind

[2020-04-25 02:11] crutchre-source commented on #6
Hi Bren,

No idea if you support this code anymore, but extra "quarantine" time, I FINALLY got around to trying to set this up.

I'm trying to run this on Raspberry Pi 3 Model B running Buster.

I get the dreaded "GWR Command not returned" error from the webpage.

Attempting a secure http connection to the IP of the TCP hub results in a 403 Forbidden page, so I believe I have the right URL...

I t

[2020-04-25 02:16] sktaylortrash commented on #6
PHP 7.3 should be fine.  Did you manually create the tcp.token file and make it writeable?

[2020-04-25 02:42] bren1818 commented on #6
Hey there, as mentioned php 7.3 should work. One thing you may have to do
is uncomment line 39 of include.php :

curl_setopt($ch, CURLOPT_SSL_CIPHER_LIST, 'DEFAULT:!DH');

I left it in the code as it shouldn't be needed but can be depending on
software configuration.

Try that and let us know. Sometimes the bridge can also be a bit flakey and
need to be left unplugged for a while and then power cy

[2020-04-25 18:11] crutchre-source commented on #6
Bren, Paul,

Thank you for the suggestions.
Here is what I've tried, but still no success.

1. Unplugged for 1 hour twice
2. Uncommented curl_setopt($ch, CURLOPT_SSL_CIPHER_LIST, 'DEFAULT:!DH');
3. Tried 80 and 443 for the bridge port in the config.inc.php file.
4. I did create a tcp.token file and chmod it to 777.

I've noticed that now when I refresh the website, it deletes the tcp.token file.

[2020-04-25 18:15] crutchre-source commented on #6
Bren, Paul,

Never mind, I forgot that I had tried setting the USE_TOKEN_FILE to 0. Setting it back to 1 "seems" to have fixed it!

Thanks.

[2020-04-25 18:22] bren1818 commented on #6
Awesome! So all is working for you now?

Enjoy your lights again 😁

On Sat, Apr 25, 2020, 2:15 PM crutchre-source <notifications@github.com>
wrote:

[2020-04-25 18:52] crutchre-source commented on #6
It's definitely progress! My main goal is to make it controllable via Alexa, so I think that means that IFTTT is next up for me. (So there's a chance I may be back asking for more help... 😁)

But moving forward! I'll let you know if I make it to the end...

[2020-04-25 18:58] bren1818 commented on #6
Well, this project will definitely work with IFTTT. That’s how my lights
are configured (albeit with Google Home vs Alexa) using ifttt. You just
have to make sure you have a static dns and port forward accordingly if
required.

Best of luck

On Sat, Apr 25, 2020 at 2:52 PM crutchre-source <notifications@github.com>
wrote:

[2020-04-25 18:59] sktaylortrash commented on #6
Awesome glad you got it working.  Just curious, are you only looking for Alexa integration or do you have something like Home Assistant or Node-Red in your plans?

[2020-04-25 19:03] sktaylortrash commented on #6
@crutchre-source other than the PHP installation commands. Were there any other changes from the install commands in the wiki? I wrote those against Raspbian Jessie so I should probably update for Buster. But if it was really only that then I will just change that one command.

[2020-04-25 19:11] crutchre-source commented on #6
@sktaylortrash The other thing that gave (and is now giving) me an error, was the presence of that .htaccess file in the /var/www/html folder. The website gives an "Internal Server Error" when it is present. When I check the apache error logs it says something about "no comments allowed on .htaccess". I confirmed that I did chmod 777 on it. I know little to nothing about apache, but my brief searc

[2020-04-25 19:14] crutchre-source commented on #6
@sktaylortrash Oh- missed your other comment. For me, just Alexa integration..

[2020-04-25 19:18] sktaylortrash commented on #6
Okay looked that up
To fix the .htaccess errors - try 2 things
- Remove both the #localhost and the #Local Network statements.
- Make sure the line Allow from 192.168.1.1/24  actually matches your network.

[2020-04-25 19:27] bren1818 commented on #6
An .htaccess will need to not be 777 - it should probably be 644. You can
delete the file if you wish, its more of a template which allows you to
secure your document root using some of apache's build in methods. I have
found depending on if you're using apache 2.2. vs 2.4 the htaccess syntax
can vary.

I'm currently using: Apache/2.4.38 on raspbian.

Options -Indexes
RewriteEngine On

Order deny,

[2020-04-25 19:29] sktaylortrash commented on #6
@bren1818 you could tweak the docs. I have static IPs and registered domains. So that bit was always under-tested from my end.

[2020-04-25 19:49] crutchre-source commented on #6
Wow! Thanks! Let's see if I can keep up with you two:

1. I'm also using Apache/2.4.38 (Raspbian)
2. I haven't setup dns pointing yet nor the encryption yet. (I found the full walk-through after I had followed the steps in the Install & Config section of the wiki.)
3. So my subnet currently is 192.168.1.0/24 I believe (?). (All my other home devices start 192.168...(?))
4. Commenting out these two

[2020-04-25 19:52] bren1818 commented on #6
Yeah, I'll make a note on that. Having a static IP is a huge bonus.
Non-static IPs can definitely be pain. Tricky to troubleshoot and
there is propagation delays. Services also seem to change their offerings.

On Sat, Apr 25, 2020 at 3:30 PM Paul <notifications@github.com> wrote:

[2020-04-25 20:03] bren1818 commented on #6
To get started and avoid road blocks, I suggest removing (or renaming the
.htaccess) to start. Make sure the project is accessible locally and
remotely. You'll also need to make sure that the .htaccess is owned
appropriately with the proper permissions. The sample I provided should be
pretty vanilla. I think in a default setup the owner should be www-data
with the same group. If you do an ls -lah

[2020-04-26 02:10] crutchre-source commented on #6
Ok here is my update:

1. I removed the .htaccess file.
2. I confirmed that I can access the page from another computer on the local network.
3. I registered with dynu.com and added a URL.
4. I configured and installed the DDclient
5. I followed the wiki to set up encryption.
6. I set up port forwarding for port 80 on my Linksys Orbit router to direct to the reserved IP of the pi.

I can access th

[2020-04-26 02:36] crutchre-source commented on #6
Ah! Never mind- I hadn't turned on port forwarding for 443.
(Why do I always figure something out right after I post?!)
Now I can access it through https and the custom url.

[2020-04-26 12:45] crutchre-source commented on #6
Ok making tons of progress.
Removing .htaccess allows me to control the lights using Alexa via IFTTT.
Hurray!!!

Now I'm just trying to figure out how to properly use Apache directives to stop any ol' person from controlling the lights.

According to the apache docs, it sounds like I should try and make the changes within the apache.conf file rather than using a .htaccess file.. So here is what I

[2020-04-26 14:40] bren1818 commented on #6
Sounds like you've made excellent progress and only have a little road bump
up to cross at this point.

Given we are on the same Raspbian Apache version, the sample . htaccess I
provided should have worked, but you can migrate it's contents into the
apache.conf.

Once you do, try performing a config test:

*apachectl configtest*

To see if that yeilds any further information. It's possible that wh

[2020-04-26 22:03] crutchre-source commented on #6
Ok all done!  Thanks for all the help!!

@sktaylortrash  The thing that I ended up doing different from the Wiki besides PHP 7.3 was using Bren's posted .htaccess file here:
[code]

This .htacess file which is included in the download doesn't work for me:
[code]
The only other watch-out was that I had to make the query that was automatically generated a secure one:
`http://{myurl}/api.php?fx=toggl

[2020-04-26 22:11] bren1818 commented on #6
Congratulations that's awesome! Glad you got it all setup. Thanks for
noting the changes.

Cheers!

On Sun, Apr 26, 2020, 6:04 PM crutchre-source <notifications@github.com>
wrote:

[2020-10-30 16:54] merrickw commented on #6
Hi Bren,

Just want to say your interface is still working like a charm 3 years in.

Plus, I have a question.  I've renewed my interest on getting SmartThings to recognize these bulbs.
There's a custom SmartThings app and device handler written by the community.
The catch is the bridge needs downgraded firmware to 2.47.

So here's my question, I followed your Word doc on downgrading the firmware,

[2020-10-30 17:01] bren1818 commented on #6
Hey there, unfortunately the down grading technique has always been a
little hit and miss. I should probably nuke the repository as I think (but
haven't proven yet) that a silent update was pushed which prevents this
method from working.

I had the downgrade work at one point but then I accidentally refreshed my
network settings and the bridge auto updated and I've not yet tried
re-downgrading.

S

[2020-10-30 17:10] merrickw commented on #6
Oh well. I'm surprised they would still bother to push that firmware.

The message boards at SmartThings community point to your project for downgrading...  It must be working somewhat as the SmartThings app seems to still work for some.

Just bought some Lutron Caseta switches, trying to make everything smart...

Regards,
Merrick

-------- Original message --------
From: Bren <notifications@githu

[2020-10-30 17:34] sktaylortrash commented on #6
@merrickw if you can't get the downgrade working. I never could and I tried on all 4 of my hubs.
I have forked to project to include MQTT support - https://github.com/sktaylortrash/TCPLightingWebInterface-MQTT
This allows integration with pretty much anything that supports MQTT.  It's been tested heavily with Node-Red and Home Assitant but there's no reason it shouldn't work with Smartthings using

[2020-10-30 17:41] merrickw commented on #6
Hey Paul, thanks for the suggestion. Can this run in parallel to the main branch or is it a replacement?

I'm wondering if I need to reconfigure my setup.

Regards,
Merrick

-------- Original message --------
From: Paul <notifications@github.com>
Date: 10/30/20 1:35 PM (GMT-05:00)
To: bren1818/TCPLightingWebInterface <TCPLightingWebInterface@noreply.github.com>
Cc: Merrick Weintraub <merrickw@hotm

[2020-10-30 17:43] sktaylortrash commented on #6
Technically you should be able to run it in parallel.  But I set it up a direct drop-in replacement.  So if you never configure the MQTT stuff it works exactly like the main branch

[2020-10-30 17:47] merrickw commented on #6
Niiceee. I'll let you know how it goes.

Regards,
Merrick

-------- Original message --------
From: Paul <notifications@github.com>
Date: 10/30/20 1:43 PM (GMT-05:00)
To: bren1818/TCPLightingWebInterface <TCPLightingWebInterface@noreply.github.com>
Cc: Merrick Weintraub <merrickw@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [bren1818/TCPLightingWebInterface] Comments, Questions,

[2020-10-30 17:50] jadakin commented on #6
Another suggestion:  I set up a Raspberry Pi as a simple proxy to convert the HTTPS calls from the Smartthings plugin to HTTP ones the TCPConnected hub understands. It's been working happily for many months.  The Rpi also runs Homebridge and Domoticz so I have quite a lot of options!

James

[2020-10-30 18:15] sktaylortrash commented on #6
Oh that's an elegant solution as well if you just need smartthings

[2020-10-30 18:29] merrickw commented on #6
James - that sounds great.

Now how do I do that?

I have Raspberry Pi running with Bren's code.
I have the SmartThings custom app for TCP installed.
Do you have instructions to do the proxy?  (I'm a novice with networking, I stumble through)

Regards,
Merrick

________________________________
From: jadakin <notifications@github.com>
Sent: Friday, October 30, 2020 1:50 PM
To: bren1818/TCPLightingW

[2020-10-30 19:03] jadakin commented on #6
I was afraid you'd ask me that! I'm not an expert either and after I set it up quite a while ago it has run unattended ever since, so basically, I've forgotten. I know it involved installing Apache and then the configuration of the proxy was pretty simple. I'll have a root around this evening and try and jog my memory.

James

[2020-10-30 19:38] sktaylortrash commented on #6
Actually nginx is basically designed for this. There are a million tutorials on setting it up as a reverse proxy which is what James is describing.

[2020-10-30 19:58] jadakin commented on #6
Happy to believe you. I was stabbing in the dark a bit, as going through my bash history for the time shows. It's been on my mind for a while that I might have to rebuild this sometime, and I should really work out what I did in the end. I will look into nginx myself next time!

James

[2020-10-30 20:58] jadakin commented on #6
Having looked back at this, I think the relevant parts of what I did were apt-get installing apache2 and apache2-utils then editing (or creating) an  000-default.conf file in /etc/apache2/sites_available to look like this:

NameVirtualHost *:80
<VirtualHost *:80>
        ServerName gwproxy.com
        SSLProxyEngine On
        SSLProxyCheckPeerName off
        SSLProxyCheckPeerExpire off
        R

[2020-10-31 00:41] merrickw commented on #6
Thanks James.

I've been tinkering with this, but now I'm confused.

My tcp bridge is 192.168.0.80
My Raspberry Pi with Apache, is 192.168.0.90

So, I'm not sure how I am redirecting traffic from the SmartThings app to use Apache on the Pi for the Proxy.
I assume all this traffic is internal, so I'm not clear on how to configure this.
This sounds like a good idea, but I'm missing some concepts her

[2020-10-31 02:46] merrickw commented on #6
Well, as a Hail Mary, I found a way to add a Virtual Switch to SmartThings, and that can be used as a trigger in IFTTT, which then can call the URL's to control the bulbs.

It's not exactly having SmartThings recognize the bulbs directly, but I can now include them in events that handle multiple light/switch brands.

This guy demonstrated how to add the Virtual Switch and use it in IFTTT, in case

[2020-10-31 02:47] merrickw commented on #6
https://www.youtube.com/watch?v=Ys5vQdr_1WA
[https://www.bing.com/th?id=OVP.eJK2pVSBEOOaE7HQfbZLGwEsDh&pid=Api]<https://www.youtube.com/watch?v=Ys5vQdr_1WA>
SmartThings Hack: Virtual Switch for any IFTTT Device<https://www.youtube.com/watch?v=Ys5vQdr_1WA>
Here's a cool hack. Even if your smart home tech doesn't work with SmartThings, you can use IFTTT to automate it in the SmartThings app. We show

[2020-10-31 08:41] jadakin commented on #6
Yes, all internal. My broadband speed is woeful so I avoid external traffic as much as possible (which is why I can't practically use IFTT, sadly).
Once the proxy is working it's just a question of using the pi's address as the "TCP Gateway ID" when setting up the "TCP Bulbs (Connect)" smartapp in the Smarthings app.  The actual address of the TCP hub  goes in the proxy configuration, as above. Sm

[2020-10-31 12:19] merrickw commented on #6
That makes sense, I was thinking that the Pi address would need to be the new destination for this to work.
I'm not getting it to work, is it definitely the conf in the sites-available folder?
Could I see your full .conf file?  I'm wondering if mine is structured correctly.

Regards,
Merrick

________________________________
From: jadakin <notifications@github.com>
Sent: Saturday, October 31, 2020

[2020-10-31 13:23] merrickw commented on #6
Also, what does the gwproxy.com represent?

-------- Original message --------
From: jadakin <notifications@github.com>
Date: 10/30/20 4:59 PM (GMT-05:00)
To: bren1818/TCPLightingWebInterface <TCPLightingWebInterface@noreply.github.com>
Cc: Merrick Weintraub <merrickw@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [bren1818/TCPLightingWebInterface] Comments, Questions, open forum

[2020-10-31 17:11] sktaylortrash commented on #6
You don't want that in there or the apache server will only respond if you have a local DNS server that resolves gwproxy.com to your pi

[2020-10-31 19:19] jadakin commented on #6
As Paul says,  it's not necessary, just use the the IP address.
This might be helpful:
[https://www.digitalocean.com/community/tutorials/how-to-use-apache-as-a-reverse-proxy-with-mod_proxy-on-debian-8(url)
 You can ignore the bits about load balancing setup, but ISTR enabling the mod_proxy and mod_proxy_http modules as it describes - that may be what you're missing?
The rest of my conf files relat

[2020-10-31 19:22] jadakin commented on #6
Well that went even more wrong than I thought!! Sorry :)

James

[2020-10-31 19:30] merrickw commented on #6
What went wrong?
I see I need to install mod_proxy for this to work.
I'll check out the tutorials.
(I think your link was broken. No big deal, job for Google).

-------- Original message --------
From: jadakin <notifications@github.com>
Date: 10/31/20 3:20 PM (GMT-05:00)
To: bren1818/TCPLightingWebInterface <TCPLightingWebInterface@noreply.github.com>
Cc: Merrick Weintraub <merrickw@hotmail.com>,

[2020-10-31 19:40] jadakin commented on #6
The quoting and formatting got all screwed up, but you've got the gist.
Turns out we are in lockdown again from Thursday, so if you haven't got it sorted by then, I'll have time to rebuild it from scratch.

James

[2020-11-25 09:35] TDBatt commented on #17
Yes you can pair the bulbs directly to a remote. I bought a set that was programmed like that, a remote and two bulbs. I reprogrammed them to my gateway.

[2021-09-13 00:26] hackbinary opened #18 "Protocol for bulbs"
I believe the older TCP line "Connected by TCP" smart bulb use the JenNet-IP LAN/WAN Stack

https://www.cnet.com/reviews/connected-by-tcp-led-lighting-control-system-review/
https://www.nxp.com/docs/en/user-guide/JN-UG-3086.pdf

TCP's newer line "TCP Smart" looks like they are based on tuya technology.

[2021-09-13 00:37] sktaylortrash commented on #18
Not to be rude but what's your point? And what problem are you having with this Web GUI implementation that you are opening this issue?

[2022-07-11 16:13] Mdrn03 opened #19 "Local host page not loading"
Thank you for your work on this.  I've installed XAMPP and copied the files to the htdocs folder.  I've corrected the IP address of my TCP bridge.  I'm only needing local coverage.  However, at the stage of syncing the gateway, I go to http://localhost/ and I get this:

Internal Server Error
The server encountered an internal error or misconfiguration and was unable to complete your request.

Plea

[2022-07-11 16:57] #19 closed

[2022-07-11 21:24] bren1818 commented on #19
Hey there,

I see you closed the issue - were you able to resolve the issue? This
should work fine with the latest XAMPP or httpd on linux.

At first glance my assumption re: your error is it's likely the .htaccess
file. Renaming or removing it should resolve the issue if that's the case.

Hope you get it figured out. Happy to help if I can.

On Mon., Jul. 11, 2022, 12:13 p.m. Mdrn03, ***@***.***>

[2022-07-11 22:24] Mdrn03 commented on #19
Thank you for offering, I did exactly that and changed the port to 80 and
I'm good. Thank you!!

On Mon, Jul 11, 2022, 4:24 PM Bren ***@***.***> wrote: